h5{
	margin-bottom:0px;
}
/* MENUS DESPLEGABLES, BARRA LATERAL*/
.menu_desp{
	padding-top:10px;
	padding-bottom:5px;
}
.borde_desp{
	padding-bottom:5px;
	border-bottom:1px solid #5d5d57; /*gris*/
}

.texto_circulo{
	padding-top:6px;
}
.oculto_evento{
	display:none;
}
.oculto_personal{
	display:none;
}
.circulo{
	padding-top:3px;
	text-align:center;
	margin:5px;
	font-size: 9px;
     width: 16px;
     height: 16px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     color:white;
     line-height:1;
}
.circulo_min{
     width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
}
.circulo_min:hover{
     width: 10px;
     height: 10px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     border:2px solid white;
     
}

.caja_texto{
	padding-top:2px;
	text-align:center;
	margin:5px;
	font-size: 9px;
     width: 14px;
     height: 14px;
     -moz-border-radius: 30%;
     -webkit-border-radius: 30%;
     border-radius: 30%;
     color:white;
     line-height:1;
}

/* FIN */
/* -------------------------------- CALENDARIO */ 
#crear_evento{
	display:none;
}
.popover{
color:white;
background-color: #071B36;
}
.popover .arrow,
.popover .arrow:after {
	border-bottom-color: #071B36; !important;
}
.popover.bottom .arrow:after {
  border-bottom-color: #071B36; !important;
  background: #071B36; !important;
}
.popover.right .arrow:after {
  border-right-color: #071B36; !important;
}

.popover-content {
	background-color: #071B36;;
}

.sub{
	margin-top:10px;
}

.agenda_link{
	text-decoration:none !important;
}

.calendario_grande{
	width:100%;
}
.table th {
    padding: .3rem;
    vertical-align: top;
}
th{
	border-top:1px solid #a6a6a6;
	border-bottom:1px solid #a6a6a6;
	border-left:1px solid #a6a6a6;
	width:10%;
	}
.calendario_grande td{
	border:0;
	padding:3px;
}
.contenido{
	height:100px;
	overflow:auto;
	margin:0px;
}
 .calendario_grande thead th {
 	border:0;
	padding:5px;
 }

@media(max-width: 1348px){
}
.table{
	margin-bottom:0px;
}
.he{
	background:#104d84;
	height:30px;
	color:white;
}
.ev{
	height:50px;
}
span.nom_dia{
	margin-left:5%;
}
span.num_dia{
	margin-left:5px;
}
/* ------------------------------- BOTONES */

.btn.evento{
background:white;
border-radius: .30rem;
padding: 0;
font-size:12px;
color:#00437e;
font-family: "Helvetica";
width:100px;
height:21px;
margin-left:15px;
float:right;
}

.btn.evento:hover{
background:#c8c8c8;
}

/* ----------------------------------------------- DATEPICKER PEQUEÑO*/

#embeddingDatePicker .datepicker table tr td.active.active,
#embeddingDatePicker .datepicker table tr td.active.highlighted.active,
 #embeddingDatePicker .datepicker table tr td.active.highlighted:active,
  #embeddingDatePicker .datepicker table tr td.active:active {
    color:red;
    background-image: url("../img/fondo_datapicker.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: #125087;
}
#embeddingDatePicker .today.day{
	color:red;
}
/*centrar datepicker*/
#embeddingDatePicker .table-condensed{  				
	text-align:center;
	width:100%;
}
#embeddingDatePicker .datepicker .datepicker-switch {
    text-align: center;
    font-size:13px;
    color: #071B36;
    width: 160px;
    font-weight:normal;
}

#embeddingDatePicker .datepicker table tr td{
	font-size:11px;
    text-align: center;
    width: 1%;
    height: 22px;
    border: none;
    color:white;
    padding-bottom:0px;
}
 #embeddingDatePicker .datepicker table tr th {
	font-size:11px;
    text-align: center;
    width: 1%;
    height: 30px;
    border: none;
    color:#071B36;
    background-color:white;
    padding:0;
 }
#embeddingDatePicker .dow {
	background-color:#071B36 !important;
	color:white !important;
}
 
#embeddingDatePicker .datepicker table tr td.new, #embeddingDatePicker .datepicker table tr td.old {
    color: #777 !important;
}
#embeddingDatePicker .datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
}

@media(max-width: 954px){
#embeddingDatePicker .datepicker table tr td, #embeddingDatePicker .datepicker table tr th {
	font-size:15px;
	}
#embeddingDatePicker .table-condensed{  				
	text-align:center;
	margin:0 auto;
	width:70%;
	min-width:250px;
} 
}
#embeddingDatePicker .calendario{
	min-width:160px;
}

#embeddingDatePicker .dia{
	font-size:16px;
	border:1px solid black;
	height:37px;
}
/* --------------------------estilo de datepicker (CREA EVENTO)*/
/* --------------------------------------- estilos del formulario crear evento -----*/
.datepicker table tr td.active.active,
 .datepicker table tr td.active.highlighted.active,
  .datepicker table tr td.active.highlighted:active,
   .datepicker table tr td.active:active {
    color:#00437e;
    border-color: #125087;
    cursor:pointer;
}
/*centrar datepicker*/
.table-condensed{  				
	text-align:center;
	margin:0 auto;
}
.datepicker .datepicker-switch {
    text-align: left;
    font-size:13px;
    color:#071B36;
    width: 160px;
    height:40px;
    font-weight:normal;
    cursor:pointer;
}

.datepicker table tr td, .datepicker table tr th {
	font-size:11px;
    text-align: center;
    width: 20px;
    height: 22px;
    border: none;
    color:#071B36;
    padding-bottom:0px;
    cursor:pointer;
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
}

.disabled {
  color: #C9C9C9;
  cursor:default;
}
.disabled.day {
  color: #C9C9C9;
  cursor:default;
}
@media(max-width: 767px){
.datepicker table tr td, .datepicker table tr th {
	font-size:15px;
	}
.table-condensed{  				
	text-align:center;
	margin:0 auto;
	width:70%;
	min-width:250px;
}
}

.filtro{
	font-size:12px;
	font-family:"Helvetica Neue";
	height:25px !important;
	padding-right:0;
	padding-left:5px;
	padding-top:0;
	padding-bottom:0;
	min-width:100px !important;
	width:100%;
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
	border-color:#071B36;
	margin-bottom:10px;
	border:1px solid;
}
.filtro:hover{
	outline:none;
}

.filtro_interno{
	width:20%;
	border:0;
	height:25px;
}
.informacion{
	width:80%;
	height:25px;
	padding-top:5px;
}
.opciones{
	position:absolute !important;
	padding:0;
}
.opcion_drop{
	padding-left:5px;
}
.filtro_interno:focus{
	outline:none;
}
.contenedor{
	 border-radius: 4px;
	 margin-bottom:10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 0px solid #000000;
    padding-left: 3px;
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    border:1px solid #071B36;
}
.filtro_interno.dropdown-toggle::after {
    margin-top: 10px;
    margin-left:0;
}
.cuadro{
	padding-top:1px;
	text-align:center;
	margin-top:5px;
	margin-right:10px;
	font-size: 14px;
     width: 16px;
     height: 16px;
     -moz-border-radius: 30%;
     -webkit-border-radius: 30%;
     border-radius: 30%;
     color:white;
     line-height:1;
     background:#071B36;
}
.cuadro_agregar{
	text-align:center;
	margin-top:3px;
	font-size: 10px;
     width: 12px;
     height: 12px;
     -moz-border-radius: 30%;
     -webkit-border-radius: 30%;
     border-radius: 30%;
     color:white;
     line-height:1;
     background:#071B36;
}
.formulario_hora{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 0px solid #000000;
    padding-left: 3px;
    background-image: url(../img/hora.png);
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    border:1px solid #071B36;
    margin-bottom:10px;
}
.formulario_fecha{
    border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border: 0px solid #000000;
    padding-left: 3px;
    background-image: url(../img/fecha.png);
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
    border:1px solid #071B36;
    margin-bottom:10px;
    
}
.formularioint {
	width:80px;
    font-size: 12px;
    height: 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 0px solid #000000;
    margin-left: 17px;
    padding-right:0;
    padding-left:5px;
    
}
#tabla_participantes td{
	font-size:10;
}
#tabla_participantes td.oculto{
display:none
}
#tabla_participantes td.cerrar{
color:#C9C9C9;
}
#tabla_participantes tbody tr:hover{
	background-color:#E0F0FA;
	cursor:pointer;
}
.particip{
	overflow-y:auto;
	max-height:100px;
}
.etiqueta{
	margin:0
}
.azulc{
	color:#40BCD8;
}
#descripcion{
	border-color:#071B36;
	border-radius: 4px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
     border:1px solid #071B36;
     margin-bottom:10px;
}
.boton{
	height:20px;
	padding-top:0;
	padding-bottom:0;
	margin-left:30px !important;
}
.pie{
	border-top:1px solid #5D5D5D;
	background:#E5E5E5;
}


/* ------------------------------------JUEGOS DE COLORES ------------------------------- */

.atrasadas{background:#FF5B16;}
.realizadas{background:#5D5D5D;}
.porRealizar{background:#071B36;}