h5{
	margin-bottom:0px;
}
.sel_evento{
	height:200px;
	border-bottom:1px solid #a6a6a6;
}
.sel_jefe{
}
/* -------------------------------- CALENDARIO */ 
.calendario_grande{
	width:100%;
}
.table th {
    padding: .3rem;
    vertical-align: top;
}
th{
	border-top:1px solid #a6a6a6;
	border-bottom:1px solid #a6a6a6;
	border-left:1px solid #a6a6a6;
	width:10%;
	}
.calendario_grande td, .calendario_grande thead th {
	border:0;
}


@media(max-width: 1348px){
}
.table{
	margin-bottom:0px;
	height:81%;
}
.he{
	background:#104d84;
	height:30px;
	color:white;
}
.ev{
	height:50px;
}
span.nom_dia{
	margin-left:5%;
}
span.num_dia{
	margin-left:5px;
}
/* ------------------------------- BOTONES */

.btn.evento{
background:white;
border-radius: .30rem;
padding: 0;
font-size:12px;
color:#00437e;
font-family: "Helvetica";
width:75px;
height:21px;
margin-left:15px;
float:right;
}

.btn.evento:hover{
background:#c8c8c8;
}

/* ----------------------------------------------- DATEPICKER PEQUEÑO*/

#embeddingDatePicker .datepicker table tr td.active.active,
 .datepicker table tr td.active.highlighted.active,
  .datepicker table tr td.active.highlighted:active,
   .datepicker table tr td.active:active {
    color:#125087;
    background-image: url("../img/fondo_datapicker.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: #125087;
}
/*centrar datepicker*/
#embeddingDatePicker .table-condensed{  				
	text-align:center;
	width:100%;
}
#embeddingDatePicker .datepicker .datepicker-switch {
    text-align: center;
    font-size:13px;
    color: #071B36;
    width: 160px;
    font-weight:normal;
}

#embeddingDatePicker .datepicker table tr td{
	font-size:11px;
    text-align: center;
    width: 1%;
    height: 22px;
    border: none;
    color:white;
    padding-bottom:0px;
}
 #embeddingDatePicker .datepicker table tr th {
	font-size:11px;
    text-align: center;
    width: 1%;
    height: 30px;
    border: none;
    color:#071B36;
    background-color:white;
    padding:0;
 }
#embeddingDatePicker .dow {
	background-color:#071B36 !important;
	color:white !important;
}
 
#embeddingDatePicker .datepicker table tr td.new, .datepicker table tr td.old {
    color: #777 !important;
}
#embeddingDatePicker .datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
}

@media(max-width: 767px){
#embeddingDatePicker .datepicker table tr td, #embeddingDatePicker .datepicker table tr th {
	font-size:15px;
	}
#embeddingDatePicker .table-condensed{  				
	text-align:center;
	margin:0 auto;
	width:70%;
	min-width:250px;
} 
}


#embeddingDatePicker .calendario{
	min-width:160px;
}

#embeddingDatePicker .dia{
	font-size:16px;
	border:1px solid black;
	height:37px;
}
