.text_edita{
	margin-left:10px;
}
#nombreMd:disabled, #nombreMd[readonly] {
	background-color:transparent;
	border:0;
	padding-left:0;
	cursor:context-menu;
}
#autoriza1, #autoriza2, #autoriza3, #autoriza4, #autoriza5, #autoriza6, #autoriza7,
#rechaza1, #rechaza2, #rechaza3, #rechaza4, #rechaza5, #rechaza6, #rechaza7{
	display:none !important;
}
#captionModal{
	margin-left:10%;
}

#imageModal {
	margin-top:80px;
            -webkit-transition: all .6s ease-in-out;    /* safari - Chrome*/
            -moz-transition: all .6s ease-in-out;       /* Firefox */
            -o-transition: all .6s ease-in-out;         /* Opera */
            transition: all .6s ease-in-out;
}

.desp{
	width:70px;
	font-size:12px;
	font-family:"Helvetica Neue";
	background-color:white;
	color:#00437e;
	border:0;
	height:20px !important;
	padding:0px 10px;
	margin-left:5px;
	margin-top:1px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
}
#score_card .modal-body{
	height:480px;
    overflow-y: auto;
}
#score_card .modal-dialog {
overflow-y: initial !important;
 max-width:800px;
}
#score_info{
	width:100%;
}
#score_info th{
	padding-top:10px;
	padding-bottom:10px;
	border:1px solid #C9C9C9;
}
#score_info td{
	padding-top:5px;
	padding-bottom:5px;
	border:1px solid #C9C9C9;
}
.altura1{
	height:350px;
}
.altura2{
	height:500px;
}
.div_mapa{
	height:500px;
}
.icono_mapa{
	padding:5px 15px;
	position:relative;
	text-align: center;
}
.icono_imagen{
	height:33px;
}
.titulo_mapa{
	padding-top:5px;
	padding-bottom:5px;
}
.ui-datepicker-trigger {
	display: none !important;
}

.oculto {
	display : none;	
}

.detalleMemoriaAsignadaAction {
	display: none;
}

span.circulo {
  background: transparent;
  border: 3px solid #071B36;
  border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  color: #071B36;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.8em;
  font-size: 30px; 
}
.subtituloIconos {
	font-weight: normal;
	font-size: 12px;
}

.footerDetalleMd {
	font-weight: normal;
	font-size: 10px;
	color: #717171;
}

#containerProgreso {
	margin: 0 auto;
  	width: 200px;
  	height: 200px;
}

.circuloSeguimiento {
     width: 13px;
     height: 13px;
     border-radius: 15%;
     background: #C9C9C9;
     position: relative;
     float: left;
     margin-top: 3px;
}

.circuloSeguimientoAprobado {
	cursor: pointer;
	background: #40BCD8;
}

#map{
	height:50%;
	top:130;
}
@media (min-width: 1015px) {
#map{height:52%; top:130px;}
}
@media (max-width: 767px) {
 .div_mapa{height:500px;}
 .padding_movil_10{margin-top: 10px;}
}

@media (max-height: 500px) {
#mapaZonificacion{height:60%;}
}
@media (min-height: 500px) {
#mapaZonificacion{height:69%;}
}
@media (min-height: 600px) {
#mapaZonificacion{height:60%;}
}
@media (min-height: 690px) {
#mapaZonificacion{height:61.5%;}
}
@media (min-height: 800px) {
#mapaZonificacion{height:62%;}
}
@media (min-height: 900px) {
#mapaZonificacion{height:63%;}
} 
@media (min-height: 1020px) {
#mapaZonificacion{height:64%;}
}
@media (min-height: 1200px) {
#mapaZonificacion{height:64.5%;}
}
@media (min-height: 1300px) {
#mapaZonificacion{height:65%;}
}

.highcharts-credits {
	display: none;
}

.highcharts-button-box {
	display:none;
}

.highcharts-legend {
	font-size: 1px !important;
}


.modal.left .modal-dialog{
		position: fixed;
		margin: auto;
		width: 320px;
		height: 90%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
	.modal.left .modal-content{
		height: 90%;
		overflow-y: auto;
	}
Left
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
#gerenteExpansionSegPop {
	text-decoration: none !important;
}
#expansionSegPop {
	text-decoration: none !important;
}
#gestoriaSegPop {
	text-decoration: none !important;
}
#auditoriaSegPop {
	text-decoration: none !important;
}
#construccionSegPop {
	text-decoration: none !important;
}
#operacionesSegPop {
	text-decoration: none !important;
}
.min_width{
	min-width: 135px;
    max-width: 180px;
}
.question_mark {
	padding-left:2px;
    cursor: pointer;
}
.titulo_seccion{
	height:35px;
	line-height:19px;
	vertical-align:bottom;
	padding-top:5px;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
}

.sin_autorizar {
	filter: alpha(opacity=35);
	-khtml-opacity: 0.35;
	-moz-opacity: 0.35;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
}

.motivoRechazo {
	width: 100%;
	height: 35px;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	background: url("../img/flecha.png") no-repeat;
  	background-position: calc(100% - 20px) center;
  	background-repeat: no-repeat;
  	cursor: pointer;
}

.punto {
    height: 10px;
    width: 10px;
    background-color: #1f3d7a;
    border-radius: 50%;
    display: inline-block;
}

.estrellaPuntuacion {
	margin-top: -6px;
    margin-left: 8px;
}

.estrellaPuntuacionDetalle {
	margin-top: 2px;
    margin-left: 2px;
    margin-right: 2px;
    width: 18px;
}

.div_header {
	margin-bottom: 10px; 
	padding-bottom: 0px;
}

.div_header_sub {
	padding-top: 10px;
}

.div_bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ----------------------------------- ESTILOS POPOVER */
.padd{
	padding-top:10px;
}
.popover  {
	background: #AAB8CB;
	max-width:400px;
	padding-bottom:5px;
}

.popover .arrow,
.popover .arrow:after {
	border-bottom-color: #AAB8CB !important;
}

.popover.bottom .arrow:after {
  border-bottom-color: #AAB8CB !important;
  background: #AAB8CB !important;
  color: #FFFFFF;
}
.popover.right .arrow:after {
  border-right-color: #AAB8CB !important;
}

.popover-content {
	background-color: #AAB8CB;
	color: #FFFFFF !important;
}

#contenedorUploader{
	text-align: center;	
}

#uploader{
	width: 100%;
	height: 280px;
	background: none;
	border: 2px dashed #b7b7b7;
	font-size: 0.8em;
    color: #717171;
	text-align: justify;
}

#msjUploader{
	width: 100%;
	height: 290px;
	background: none;
	color: #FFF;
	border: 1px dashed #0087F7;
	text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.filesMD{
	width: 100%;
	height: 290px;
	color: #FFF;
	border: 1px solid #0087F7;
	font-size: 16px;
	padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

.msjFiles{
	text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
}

.fileMD{
 	margin-bottom: 5px;
    margin-top: 2px;
    padding-left: 5px;
    height: 35px;
    font-size: 0.8em;
    color: #717171;
    line-height: 35px;
}

.filePendiente{
	 border: 1px solid rgba(255,255,255,0.1);
}

.fileRechazado{
	  border: 1px solid rgba(161, 28, 28, 0.5);
}

.fileAutorizado{
	 border: 1px solid rgba(28, 161, 58, 0.5);
}

.fileMD:hover{
	background-color: #fafafa;
}

.selecciona{
	height: 300px;
    text-align: center;
    line-height: 300px;.
    font-size: 0.8em;
    color: #717171;
}
.nombreFile{
	width: 40%;
    float: left;
}

.autorFile{
    width: 20%;
    float: left;
    padding-left: 5px;
}

.fechaFile{
	width: 20%;
    float: left;
    padding-left: 5px;
}

.estatusFile{
	width: 20%;
    float: left;
    text-align: center;
}

.commentsByFile, .commentFileContainer{
	width: 100%;
	height: 290px;
	color: #FFF;
	border: 1px solid #0087F7;
	font-size: 16px;
	text-align: center;
}

#motivoRechazoLayout{
    width: 95%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnBlanco{
    width: 100px;
    height: 30px;
    background: #FFF;
    margin-top: 10px;
    line-height: 18px;
    color: #071B36;
}

.btnConteo{
    width: 100px;
    height: 30px;
    background: #071B36;
    margin-top: 10px;
    line-height: 18px;
    color: #FFF;
}

.tituloComment{
	line-height: 35px;
}

#commentFile{
	resize: none;
	width: 95%;
	height: 140px;
}

.simbolo{
    top: 5px;
    width: 3%;
    position: relative;	
}

#montoPresupuesto, #montoVenta, #idCeco{
	width: 80%;
}

.datosFile{
	float: left;
	width: 90%;
}

.actionsFile{
	text-align: center;
    line-height: 40px;
    width: 10%;
    float: right;
}

#containerFilesVoboFinal{
	height: 275px;
    color: #FFF;
    overflow: auto;
}

#divACC{
	float: left;
    width: 100px;
    padding-top: 6px;
    margin-top: 7px;
}

#tiendaID{
	position: relative;
    top: 7px;
    margin-right: 10px;
}

.selectSemana{
	border: 1px solid #000c48;
    padding-left: 4%;
    border-radius: 4px;
    width: 170px;
}

.datoObra{
	height: 80px;
}

.btnGris{
	color: white;
    background-color: #CCC;
}

.btnAzul{
	background-color: #071B36;
    color: white;
}

.btnGris, .btnAzul{
    width: 80px;
    height: 25px;
    margin: 15px;
    line-height: 25px;
    font-size: 12px;
	border-radius: 2px;
	cursor: pointer;
}

.tipoArchivo{
	height: 35px;
    line-height: 35px;
    width: 100%;
    cursor: pointer;
}

.carpetaActiva{
	color: #40bcd8 !important;
}


/* ----------------------------------- INICIO ESTILOS 2.0 ---------------------------------- */
.titulo_detalle_md_20 {
	font-size: 0.9em;
	color: #071B36;
	font-weight: bold;
}
.contenido_cajas_20 {
	font-size: 0.7em;
	color: #717171;
}
.contenido_subfactores_20 {
	font-size: 0.5em;
	color: #717171;
}
.padding_top_botom_5 {
	padding-top: 5px;
    padding-bottom: 5px;
}
.padding_top_botom_10 {
	padding-top: 10px;
    padding-bottom: 10px;
}
.container-fluid {
	background: #e7e6e3;
}
.slick_main {
	
}
.slick-prev {
	display: none !important;
}
.slick-next {
	display: none !important;
}
.highcharts-title {
    fill: #071B36;
    font-weight: bold;
    font-size: 0.7em;
}
.back_generadores {
	filter: alpha(opacity=85);
	-khtml-opacity: 0.85;
	-moz-opacity: 0.85;
	opacity: 0.85;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";
}
.subfactores_20 {
	text-align: center;
    position: relative;
    float: left;
}
/* ----------------------------------- FIN ESTILOS 2.0 ---------------------------------- */
#presupuesto, #venta, #ceco, #obra{
	width: 95%;
    margin: auto	
}

.tituloAutorizacion{
	width: 100%;
	line-height: 30px;
}