.altura1{
	height:350px;
}
.ui-datepicker-trigger {
	display: none !important;
}

.oculto {
	display : none;	
}

.detalleMemoriaAsignadaAction {
	display: none;
}

span.circulo {
  background: transparent;
  border: 3px solid #071B36;
  border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  color: #071B36;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.8em;
  font-size: 30px; 
}
.subtituloIconos {
	font-weight: normal;
	font-size: 12px;
}

.footerDetalleMd {
	font-weight: normal;
	font-size: 10px;
	color: white;
}

#containerProgreso {
	margin: 0 auto;
  	width: 200px;
  	height: 200px;
}

.circuloSeguimiento {
     width: 13px;
     height: 13px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     background: #C9C9C9;
     position: relative;
     float: left;
     margin-top: 3px;
}

.circuloSeguimientoAprobado {
	cursor: pointer;
	background: #40BCD8;
}

@media (max-height: 500px) {
#map{height:45%;}
}
@media (min-height: 500px) {
#map{height:54%;}
}
@media (min-height: 600px) {
#map{height:45%;}
}
@media (min-height: 690px) {
#map{height:46.5%;}
}
@media (min-height: 800px) {
#map{height:47%;}
}
@media (min-height: 900px) {
#map{height:48%;}
} 
@media (min-height: 1020px) {
#map{height:49%;}
}
@media (min-height: 1200px) {
#map{height:49.5%;}
}
@media (min-height: 1300px) {
#map{height:50%;}
}

@media (max-height: 500px) {
#mapaZonificacion{height:60%;}
}
@media (min-height: 500px) {
#mapaZonificacion{height:69%;}
}
@media (min-height: 600px) {
#mapaZonificacion{height:60%;}
}
@media (min-height: 690px) {
#mapaZonificacion{height:61.5%;}
}
@media (min-height: 800px) {
#mapaZonificacion{height:62%;}
}
@media (min-height: 900px) {
#mapaZonificacion{height:63%;}
} 
@media (min-height: 1020px) {
#mapaZonificacion{height:64%;}
}
@media (min-height: 1200px) {
#mapaZonificacion{height:64.5%;}
}
@media (min-height: 1300px) {
#mapaZonificacion{height:65%;}
}

.highcharts-credits {
	display: none;
}

.highcharts-button-box {
	display:none;
}

.highcharts-legend {
	font-size: 1px !important;
}


.modal.left .modal-dialog{
		position: fixed;
		margin: auto;
		width: 320px;
		height: 90%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
	.modal.left .modal-content{
		height: 90%;
		overflow-y: auto;
	}
Left
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}
	
#gerenteExpansionSegPop {
	text-decoration: none !important;
}
#expansionSegPop {
	text-decoration: none !important;
}
#gestoriaSegPop {
	text-decoration: none !important;
}
#construccionSegPop {
	text-decoration: none !important;
}
#operacionesSegPop {
	text-decoration: none !important;
}
.min_width{
	min-width:150px;
	max-width: 230px;
}
.question_mark {
	padding-left:2px;
    cursor: pointer;
}
.titulo_seccion{
	height:35px;
	line-height:19px;
	vertical-align:bottom;
	padding-top:5px;
	padding-bottom:10px;
	padding-left:0px;
	padding-right:0px;
}

.sin_autorizar {
	filter: alpha(opacity=35);
	-khtml-opacity: 0.35;
	-moz-opacity: 0.35;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
}

.motivoRechazo {
	width: 100%;
	height: 35px;
	-webkit-appearance: none;
  	-moz-appearance: none;
  	appearance: none;
  	background: url("../img/flecha.png") no-repeat;
  	background-position: calc(100% - 20px) center;
  	background-repeat: no-repeat;
  	cursor: pointer;
}

.punto {
    height: 10px;
    width: 10px;
    background-color: #1f3d7a;
    border-radius: 50%;
    display: inline-block;
}

.estrellaPuntuacion {
	margin-top: -6px;
    margin-left: 8px;
}

.estrellaPuntuacionDetalle {
	margin-top: 2px;
    margin-left: 8px;
    width: 28px;
}

.div_header {
	margin-bottom: 10px; 
	padding-bottom: 0px;
}

.div_header_sub {
	padding-top: 10px;
}

.div_bottom {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* ----------------------------------- ESTILOS POPOVER */
.popover  {
	background: #40BCD8 !important;
	color: #FFFFFF !important;
	max-width:400px;
}
.popover-content  {
	background: #40BCD8 !important;
	color: #FFFFFF !important;
	max-width:400px;
}

.popover .arrow,
.popover .arrow:after {
	border-bottom-color: #40BCD8 !important;
}

.popover.bottom .arrow:after {
  border-bottom-color: #40BCD8 !important;
  background: #40BCD8 !important;
  color: #FFFFFF;
}
.popover.right .arrow:after {
  border-right-color: #40BCD8 !important;
}

.popover-content {
	background-color: #40BCD8;
	color: #FFFFFF !important;
}

#uploader{
	width: 100%;
	height: 210px;
	background: none;
	color: #FFF;
	border: 1px dashed #0087F7;
	font-size: 16px;
}

#msjUploader{
	width: 100%;
	height: 290px;
	background: none;
	color: #FFF;
	border: 1px dashed #0087F7;
	text-align: center;
    padding-top: 100px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 16px;
}

.filesMD{
	width: 100%;
	height: 290px;
	color: #FFF;
	border: 1px solid #0087F7;
	font-size: 16px;
	padding-left: 10px;
    padding-right: 10px;
    overflow: auto;
}

.msjFiles{
	text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 100px;
}

.fileMD{
	margin-bottom: 5px;
    cursor: pointer;
    margin-top: 5px;
    padding-left: 5px;
    height: 45px;
}

.filePendiente{
	 border: 1px solid rgba(255,255,255,0.1);
}

.fileRechazado{
	  border: 1px solid rgba(161, 28, 28, 0.5);
}

.fileAutorizado{
	 border: 1px solid rgba(28, 161, 58, 0.5);
}

.fileMD:hover{
	background-color: #15335d;
}

.autorFile{
	font-size: 10px;
    font-style: italic;
    text-transform: capitalize;
}

.commentsByFile, .commentFileContainer{
	width: 100%;
	height: 290px;
	color: #FFF;
	border: 1px solid #0087F7;
	font-size: 16px;
	text-align: center;
}

#motivoRechazoLayout{
    width: 95%;
    margin: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btnBlanco{
    width: 100px;
    height: 30px;
    background: #FFF;
    margin-top: 10px;
    line-height: 18px;
    color: #071B36;
}

.tituloComment{
	line-height: 35px;
}

#commentFile{
	resize: none;
	width: 95%;
	height: 140px;
}

.simbolo{
    color: #fff;
    position: relative;
    top: 7px;	
}

#montoPresupuesto{
	width: 350px;
    position: relative;
    top: 6px;
}

.datosFile{
	float: left;
	width: 75%;
}

.actionsFile{
	text-align: center;
    line-height: 40px;
    width: 25%;
    float: right;
}