.texto_azulg{
	font-size:15px;
	font-weight:normal;
	color:#125087;
}
.sel_evento{
	height:200px;
	border-bottom:1px solid #a6a6a6;
}
.sel_jefe{
}
/* -------------------------------- CALENDARIO */
.margen_cal_titulo{  /*equivalente a padding_p pero sin padding inferior*/
	padding-left:7px;
	padding-right:7px;
	padding-top:5px;
} 
.margen_cal{ /*equivalente a padding_p pero sin padding inferior*/
	padding-left:7px;
	padding-right:7px;
	padding-top:5px;
} 
.calendario_grande{
	width:100%;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #a6a6a6;
}
.table td, .table th {
    padding: .55rem;
    vertical-align: top;
    border-top: 1px solid #a6a6a6;
}
th{
	border-top:1px solid #a6a6a6;
	border-bottom:1px solid #a6a6a6;
	border-left:1px solid #a6a6a6;
	width:10%;
	}
td{
	border-top:1px solid #a6a6a6;
	border-left:1px solid #a6a6a6;
}

@media(max-width: 1348px){
	th{
	border-right:1px solid #a6a6a6;
	}
	
	td{
	border-right:1px solid #a6a6a6;
	border-bottom:1px solid #a6a6a6;
	}
}
.table{
	margin-bottom:0px;
	height:81%;
}
.he{
	background:#104d84;
	height:30px;
	color:white;
}
.ev{
	height:50px;
}
span.nom_dia{
	margin-left:5%;
}
span.num_dia{
	margin-left:5px;
}
/* ------------------------------- BOTONES */
.nopadd{
	padding:0px;
}

.btn.evento{
background:white;
border-radius: .30rem;
padding: 0;
font-size:12px;
color:#00437e;
font-family: "Helvetica";
width:75px;
height:21px;
margin-left:15px;
float:right;
}

.btn.evento:hover{
background:#c8c8c8;
}

/* ----------------------------------------------- DATEPICKER*/
.fazul{
	background:#125087;
}

.datepicker table tr td.active.active,
 .datepicker table tr td.active.highlighted.active,
  .datepicker table tr td.active.highlighted:active,
   .datepicker table tr td.active:active {
    color:#125087;
    background-image: url("../img/fondo_datapicker.png");
    background-repeat: no-repeat;
    background-position: center;
    border-color: #125087;
}
/*centrar datepicker*/
.table-condensed{  				
	text-align:center;
	margin:0 auto;
}
.datepicker .datepicker-switch {
    text-align: left;
    font-size:13px;
    color:white;
    width: 160px;
    height:40px;
    font-weight:normal;
}

.datepicker table tr td, .datepicker table tr th {
	font-size:11px;
    text-align: center;
    width: 20px;
    height: 22px;
    border: none;
    color:white;
    padding-bottom:0px;
}
.datepicker table tr td.new, .datepicker table tr td.old {
    color: #777;
}
.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
}

@media(max-width: 767px){
.datepicker table tr td, .datepicker table tr th {
	font-size:15px;
	}
.table-condensed{  				
	text-align:center;
	margin:0 auto;
	width:70%;
	min-width:250px;
}
}


.calendario{
	min-width:160px;
}

.dia{
	font-size:16px;
	border:1px solid black;
	height:37px;
}
h5{
	margin-bottom:0px;
}