 /*alineacion de titulos*/
.fecha{
	margin-left:33%;
	color:#00437e;
	font-size:11px;
	margin-right:5px;
}
@media (max-width: 1530px) {
	.fecha{margin-left:25%;}
}
@media (max-width: 1350px) {
	.fecha{margin-left:13%;}
}
@media (max-width: 1190px) {
	.fecha{margin-left:5%;}
	.div_right{float:right;}
}
@media (max-width: 1090px) {
	.fecha{margin-left:0;}
}
span.estilo_info{
	font-size:14px;
	padding-right:8px;
}
span.estilo_dato{
	font-size:14px;
	padding-right:15px;
}
.p_cabecera{
	margin-bottom:0.1em !important;	
}
/* ----------------------------------------- DESPLEGABLE ---------------------- */
.desp{
	font-size:12px;
	font-family:"Helvetica";
	background-color:white;
	color:#00437e;
	border-color:#00437e;
	height:25px !important;
	padding:0;
	margin-left:8px;
}
.filtro{
	min-width:100px !important;
	width:100px !important;
}
.filtros{
	width:150px;
}
.rechargue{
	width:27px;
}
.rechargue:hover{
	background-color:#E3E3E3;
}

/* ------------------------------------------- GRAFICAS --------------*/
/* ------------------------------------------- GRAFICA PROGRESO GENERAL DE AREAS --------------*/
#container .highcharts-point{
	width:13px;
}

#container{
	padding-top:25px;
	min-width: 200px;
	height: 35%;
	margin: 0 auto;
}
#container_sm1{
	display:none;
	padding-top:25px;
	height: 250;
	margin: 0 auto;
}
#container_sm2{
	display:none;
	padding-top:25px;
	height: 250;
	margin: 0 auto;
}

#container_psemanal{
	padding-top:25px;
	min-width: 200px;
	height: 35%;
	margin: 0 auto;
}
#container_apmensual{
	min-width: 200px;
	height: 22%;
	margin: 0 auto;
}
#container_proceso,#container_atrasadas,#container_autorizadas,#container_rechazadas{
	min-width: 100px;
	height: 21%;
	max-width: auto;
	margin: 0 auto
} 
/* ESTILOS DE LA SECCION DE RESUMEN, CIRCULOS*/
.numero_grande{
	font-size:2.5em;
	font-weight:bold;
}
.numero_chico{
	font-size:0.8em;
}
.resumen_personales{
	margin-top:6px;
	margin-bottom:2px;
	 float:left;
	 text-align:left;
	 font-size:14px;
}
.analista{
	display:none;
}
.div_left
{
	position:relative;
	float:left;
	width:100px;
}
.div_right
{
	position:relative;
	float:right;
	width:70px;
}
/*-----------------------------------*/
@media (max-width: 576px) {
	#container{display:none;}
	#container_sm1{display:block;}
	#container_sm2{display:block;}
	#container_psemanal{height: auto;}
	#container_apmensual{height: 200px;}
	.numero_grande{font-size:1.5em}
	.numero_chico{font-size:0.6em}
}
/* ----------------------- puntos*/
.circulo_punto{
	padding-top:2px;
	text-align:center;
	margin:5px;
	font-size: 14px;
     width: 17px;
     height: 17px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     color:white;
     position: relative;
     float: left;
     line-height:1;
}
/* ---------------------------  POPOVER */
.popover{
	background:#ededed;
	border: 1px solid #ededed;
}
.popover_titulo{
	padding-left:10px;
	padding-top:3px;
	padding-bottom:5px;
	font-weight:bold;
}
.popover_opcion{
	border-top:1.5px solid #e1e1e1;
	padding-left:12px;
	padding-top:3px;
	padding-bottom:5px;
	padding-right:12px;
}
.popover_logout{
	padding-left:12px;
	padding-top:3px;
	padding-bottom:5px;
	padding-right:12px;
}
.popover-body{
    padding: 0;
}
.bs-popover-auto[x-placement^=bottom] .arrow::after, .bs-popover-bottom .arrow::after {
    top: 0px;
    border-bottom-color:#ededed;
}
.popover a:hover{
	text-decoration:none;
	color:#40BCD8;
	font-size:11px;
}
.popover a{
	text-decoration:none;
	color:#00437e;
	font-size:11px;
}
.dir_general{
	display:none;
}
/* ----------------------datepicker */

.datepicker table tr td.active.active,
 .datepicker table tr td.active.highlighted.active,
  .datepicker table tr td.active.highlighted:active,
   .datepicker table tr td.active:active {
    color:#00437e;
    background-color:#40BCD8;
    border-color: #125087;
}
/*centrar datepicker*/
.table-condensed{  				
	text-align:center;
	margin:0 auto;
}
.datepicker .datepicker-switch {
    text-align: left;
    font-size:13px;
    color:#00437e;
    width: 160px;
    height:40px;
    font-weight:normal;
}

.datepicker table tr td, .datepicker table tr th {
	font-size:11px;
    text-align: center;
    width: 20px;
    height: 22px;
    border: none;
    color:#00437e;
    padding-bottom:0px;
}
.datepicker table tr td.new, .datepicker table tr td.old {
    color: #00437e;
}
.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
}

@media(max-width: 767px){
.datepicker table tr td, .datepicker table tr th {
	font-size:15px;
	}
.table-condensed{  				
	text-align:center;
	margin:0 auto;
	width:70%;
	min-width:250px;
}
}
.fecha_pick{
	padding-left:5px;
}
