 /*alineacion de titulos*/
.fecha{
	margin-left:40%;
	color:#00437e;
	font-size:11px;
	margin-right:5px;
}
@media (max-width: 1530px) {
	.fecha{margin-left:30%;}
}
@media (max-width: 1350px) {
	.fecha{margin-left:20%;}
}
@media (max-width: 1190px) {
	.fecha{margin-left:10%;}
}
@media (max-width: 1090px) {
	.fecha{margin-left:0;}
}
span.estilo_info{
	font-size:14px;
	padding-right:8px;
}
span.estilo_dato{
	font-size:14px;
	padding-right:15px;
}
.p_cabecera{
	margin-bottom:0.1em !important;	
}
/* ----------------------------------------- DESPLEGABLE ---------------------- */
.desp{
	font-size:12px;
	font-family:"Helvetica";
	background-color:white;
	color:#00437e;
	border-color:#00437e;
	height:25px !important;
	padding:0;
	margin-left:8px;
}
.filtro{
	min-width:100px !important;
	width:100px !important;
}
.filtros{
	width:150px;
}
.rechargue{
	width:27px;
}
.rechargue:hover{
	background-color:#E3E3E3;
}

/* ------------------------------------------- GRAFICAS --------------*/
/* ------------------------------------------- GRAFICA PROGRESO GENERAL DE AREAS --------------*/
table{
	display:none;
}
#container .highcharts-point{
	width:13px;
}

#container{
	padding-top:25px;
	min-width: 200px;
	height: 35%;
	margin: 0 auto;
}
#container_sm1{
	display:none;
	padding-top:25px;
	height: 250;
	margin: 0 auto;
}
#container_sm2{
	display:none;
	padding-top:25px;
	height: 250;
	margin: 0 auto;
}

#container_psemanal{
	padding-top:25px;
	min-width: 200px;
	height: 35%;
	margin: 0 auto;
}
#container_apmensual{
	min-width: 200px;
	height: 27%;
	margin: 0 auto;
}
#container_asignadas,#container_atrasadas,#container_autorizadas,#container_rechazadas{
	min-width: 100px;
	height: 19%;
	max-width: auto;
	margin: 0 auto
}
/* ESTILOS DE LA SECCION DE RESUMEN, CIRCULOS*/
.numero_grande{
	font-size:2.5em;
	font-weight:bold;
}
.numero_chico{
	font-size:0.8em;
}
.resumen_personales{
	 float:left;
	 text-align:left;
	 font-size:10px;
}
.resumen_area{
	float:right;
	text-align:right;
	font-size:10px;
	padding-bottom:5px;
}
.resumen_personales_punto{
	text-align:center !important;
	width:15px;
	height:15px;
	background-image:url(../img/circulo_azul_p.png);
	background-position: left; 
	background-repeat: no-repeat;
	color:white;
}
.resumen_area_punto{
	text-align:center !important;
	width:15px;
	height:15px;
	background-image:url(../img/circulo_azulc_p.png);
	background-position: left; 
	background-repeat: no-repeat;
	color:white;
}
/*-----------------------------------*/
@media (max-width: 576px) {
	#container{display:none;}
	#container_sm1{display:block;}
	#container_sm2{display:block;}
	#container_psemanal{height: auto;}
	#container_apmensual{height: 200px;}
	.numero_grande{font-size:1.5em}
	.numero_chico{font-size:0.6em}
}