/*distribucion*/
.graficas1{
	height:20%;
}
.cursor_verde, .cursor_rojo, .cursor_cgris{
	cursor:pointer;
}


.verde{
	color: #3FB961;
}
.cgris{
	color: #657488;
}
.rojo{
	color: #C93535;
}

 /*alineacion de titulos*/
.fecha{
	margin-left:33%;
	color:#00437e;
	font-size:11px;
	margin-right:5px;
}
@media (max-width: 1530px) {
	.fecha{margin-left:25%;}
}
@media (max-width: 1350px) {
	.fecha{margin-left:13%;}
}
@media (max-width: 1190px) {
	.fecha{margin-left:5%;}
	.div_right{float:right;}
}
@media (max-width: 1090px) {
	.fecha{margin-left:0;}
}
span.estilo_info{
	padding-right:15px;
}
span.estilo_dato{
	padding-right:18px;
}
.p_cabecera{
	margin-top:2px;
	margin-bottom:0.1em !important;	
}
/* ----------------------------------------- DESPLEGABLE ---------------------- */
.desp{
	font-size:12px;
	font-family:"Helvetica Neue";
	background-color:white;
	border-color:black;
	height:25px !important;
	padding:0;
	margin-right:8px;
}
.filtro{
	min-width:100px !important;
	width:100px !important;
	border-radius: 0.15rem;
}
.filtros{
	width:150px;
}
.rechargue{
	width:27px;
}
.rechargue:hover{
	background-color:#E3E3E3;
}

/* ------------------------------------------- GRAFICAS --------------*/
.highcharts-axis-line, .highcharts-point, .highcharts-tick{
	stroke-width: 0;
}
.highcharts-point{
	width:13px;
}
#container_apmensual .highcharts-point{
	width:15px;
}
#container_apmensual{
	height: 30%;
	margin: 0 auto;
}
#container_apmensual .highcharts-yaxis-labels {
	display:none;
}

#container_activas, #container_atrasadas, #container_canceladas{
	height: 25%;
	margin: 0 auto;
}
#container_activas .highcharts-axis-labels, #container_activas .highcharts-yaxis-labels {
	display:none;
}
#container_atrasadas .highcharts-axis-labels, #container_activas .highcharts-yaxis-labels {
	display:none;
}
#container_canceladas .highcharts-axis-labels, #container_activas .highcharts-yaxis-labels {
	display:none;
} 
.icono_medida{
	height:35px;
}
/* estilos del diagrama de proceso*/
.simple{
	width:6.6%;
	position: relative;
	float:left;
	background:transparent;
	
}
.doble{
	position: relative;
	bottom:104;
	margin: 0 auto;
}
.hexa{
	text-align:center;
	background-repeat: no-repeat;
	background-position: center;
	height:68px;
	width:50px;
	margin: 70 auto;
}
.linea{
	border-top:1px solid white;
	height:1px;
	position:relative;
	top:134;	
}
.lineadoble{
	/* background:transparent; */
	border:1px solid white;
	height:140;
	position:relative;
	top:66;
	margin: 0 auto;
	border-radius: 3px;
}
#proceso{
padding-top:3%;
min-width:1254;
}
.titulo_hex{
	height:30;
	font-size:11px;
	bottom:15px;
	position:relative;
	text-align:center;
	top:87;
	
}.titulo_hex_doble{
	height:30;
	font-size:11px;
	position:relative;
	text-align:center;
}
.cont_hex{
	top:17px;
	font-size:22px;
	position:relative;
}
.cont_hex_doble{
	top:17px;
	font-size:22px;
	position:relative;
}
.pie_hex{
	text-align:center;
	font-size:11px;
	position:relative;
	bottom:75;
}
.pie_hex_doble{
	height:45;
	text-align:center;
	font-size:11px;
	bottom:0;
	position:relative;
}
/* ESTILOS DE LA SECCION DE RESUMEN, CIRCULOS*/
.numero_grande{
	font-size:2.5em;
}
.numero_chico{
	font-size:0.8em;
}
.resumen_personales{
	margin-top:3px;
	margin-bottom:2px;
	 float:left;
	 text-align:left;
}
.analista{
	display:none;
}
.div_left
{
	position:relative;
	float:left;
	width:100px;
}
.div_right
{
	position:relative;
	float:right;
	width:70px;
}
/*-----------------------------------*/
@media (max-width: 576px) {
	#container{display:none;}
	#container_sm1{display:block;}
	#container_sm2{display:block;}
	#container_psemanal{height: auto;}
	#container_apmensual{height: 200px;}
	.numero_grande{font-size:1.5em}
	.numero_chico{font-size:0.6em}
	.ocultapeq{display:none;}
}
/* ----------------------- puntos*/
.circulo_punto{
	padding-top:2px;
	text-align:center;
	margin-top:4px;
	margin-right:5px;
	font-size: 14px;
/*      width: 17px; */
/*      height: 17px; */
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     color:white;
     position: relative;
     float: left;
     line-height:1;
}
 .circulo_puntop{
	padding-top:2px;
	text-align:center;
	margin-top:5px;
	margin-right:3px;
	font-size: 14px;
     width: 11px;
     height: 11px;
     -moz-border-radius: 50%;
     -webkit-border-radius: 50%;
     border-radius: 50%;
     color:white;
     position: relative;
     float: left;
     line-height:1;
} 
.ancho{
	min-width:110px;
}
.dir_general{
	display:none;
}
/* ------------------------------datepicker --------------------------------*/

.datepicker table tr td.active.active,
 .datepicker table tr td.active.highlighted.active,
  .datepicker table tr td.active.highlighted:active,
   .datepicker table tr td.active:active {
    color:#00437e;
    background-color:#40BCD8;
    border-color: #125087;
    cursor:pointer;
}
/*centrar datepicker*/
.table-condensed{  				
	text-align:center;
	margin:0 auto;
}
.datepicker .datepicker-switch {
    text-align: left;
    font-size:13px;
    color:#00437e;
    width: 160px;
    height:40px;
    font-weight:normal;
    cursor:pointer;
}

.datepicker table tr td, .datepicker table tr th {
	font-size:11px;
    text-align: center;
    width: 20px;
    height: 22px;
    border: none;
    color:#00437e;
    padding-bottom:0px;
    cursor:pointer;
}

.datepicker table tr td span {
    display: block;
    width: 23%;
    height: 54px;
    line-height: 54px;
    float: left;
    margin: 1%;
    cursor: pointer;
    border-radius: 4px;
}

.disabled {
  color: #C9C9C9;
  cursor:default;
}
.disabled.day {
  color: #C9C9C9;
  cursor:default;
}
@media(max-width: 767px){
.datepicker table tr td, .datepicker table tr th {
	font-size:15px;
	}
.table-condensed{  				
	text-align:center;
	margin:0 auto;
	width:70%;
	min-width:250px;
}
}
.fecha_pick{
	padding-left:5px;
}
.combos{
	position:relative;
	 float:right;
}
