
/*  estilos para pintar el flujo en la parte superior */
#contenedor_int{
	min-width:1200;
}
.contenedor_hexa{
	position:relative;
	float:left;
}
.botones{
	position:relative;
	float:right;
}
.linea{
	border-top:1px solid white;
	height:1px;
	position:relative;
	top:15;
} 
.activo{
	background-image:url('../img/hexa_detalle.svg') !important;
} 
.desactivado{
	background-image:url('../img/hexa_detalle2.svg') !important;
} 
.hexa{
	font-size:14;
	color:white;
	padding-top:4;
	text-align:center;
	background:#071B36;
	background-repeat: no-repeat;
	background-position: center;
	height:30px;
	width:30px;
	margin: 0 auto;
}
#flujo{
	overflow-x:auto;
	padding:0;
	position:relative;
	float:left;
}

@media (min-width: 1200px) {
	#flujo{left:2%;}
}
@media (min-width: 1400px) {
	#flujo{left:3%;}
}
@media (min-width: 1700px) {
	#flujo{left:4%;}
}
@media (max-width: 1000px) {
	.botones{float:left;}
}
/* -----------------modal --------------------*/
#modal_cerrar{
	position:relative;
	bottom:10;
	left:10;
}
.div_contenido{
	padding-top:8;
	padding-bottom:8;
}
.relojito{
	width:15px;
	margin-right:3;
	margin-bottom:3;
}
/* -----------------fin modal --------------------*/
