/*estilo de los botones*/
	/* -----------------------------------------------*/
.sin_permiso{ /*se usa para ocultar los botones del tablero segun su permiso de perfil*/
	display:none !important;
}
.desp{
	width:30;
	height:30;
	font-size:12px;
	font-family:"Helvetica Neue";
	background-color:white;
	background-repeat: no-repeat;
	background-position: center;
	color:#00437e;
	border:0;
	padding:0px 10px;
	margin-left:5px;
	margin-top:1px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
	margin-top:3;
	margin-bottom:3;
}
.desp:hover{
	background-color: #536379;
}
.atras{
	background-image: url(../img/botones/w_regresarOFF.svg);
	background-size:120% !important;
}
.descarga{
	background-image:url('../img/botones/DOWNLOAD.svg');
	background-size:120% !important;
}
.mensajes{
	background-image:url('../img/botones/msg.svg');
}
.radio{
	background-image:url('../img/botones/radios.svg');
}
.refresh{
	background-image:url('../img/botones/b_refresh.svg');
	background-size:120% !important;
}
/* ------------------------------- BOTONES TABLERO */
#time{
	background-image:url('../img/botones/w_tiempo.svg');
}
#time.activado, #time.activado:hover{
	background-image:url('../img/botones/w_tiempoSF.svg');
	background-color:#071B36;
}
.time_tabla{
	background-image:url('../img/botones/w_tiempo.svg');
	background-position:right;
	background-repeat: no-repeat;
	background-size:25px !important;
}
#edit{
	background-image:url('../img/botones/w_editar.svg');
}
.edit_tabla{
	background-image:url('../img/botones/w_editar.svg');
	background-position:right;
	background-repeat: no-repeat;
	background-size:25px !important;
}
#edit.activado, #edit.activado:hover{
	background-image:url('../img/botones/w_editarAzul.svg');
	background-color:#071B36;
}
#pause{
	background-image:url('../img/botones/w_pausar.svg');
}
.pause_tabla{
	background-image:url('../img/botones/w_pausar.svg');
	background-position:right;
	background-repeat: no-repeat;
	background-size:25px !important;
}

#pause.activado, #pause.activado:hover{
	background-image:url('../img/botones/w_pausarSF.svg');
	background-color:#071B36;
}
#refuse{
	background-image:url('../img/botones/w_cancelar.svg');
}
.refuse_tabla{
	background-image:url('../img/botones/w_cancelar.svg');
	background-position:right;
	background-repeat: no-repeat;
	background-size:25px !important;
}
#refuse.activado, #refuse.activado:hover{
	background-image:url('../img/botones/w_cancelarsSF.svg');
	background-color:#071B36;
}
#change{
	background-image:url('../img/botones/w_regresarStatus.svg');
}
.change_tabla{
	background-image:url('../img/botones/w_regresarStatus.svg');
	background-position:right;
	background-repeat: no-repeat;
	background-size:25px !important;
}

#change.activado, #change.activado:hover{
	background-image:url('../img/botones/w_regresarStatusSF.svg');
	background-color:#071B36;
}
/* -----------------------------------------------*/

/* ---------------------------------  INICIA ESTILOS GENERALES */
.cursor{
	cursor:pointer;
}
.loadingPagina {
	position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(19, 17, 17, 0.7);
	z-index: 100;
}
.mensajes_modal {
	position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(19, 17, 17, 0.7);
	z-index: 100;
	display: none;
    justify-content: center;
    align-items: center;
}
.mensaje {
	height: 25%;
    width: 35%;
}
#tituloMensaje {
	color: #FFFFFF;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
}
#descripcionMensaje {
	color: #616161;
	font-family: sans-serif;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
}
#botonesMensaje {
	display: flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}
.loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.dot {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.fechaInicialCalendario {
	width: 87px;
	height: 25;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border: 0px solid #000000;
    background-color: white;
    font-size: 12;
    margin-left:8px;
    padding-left: 8px;
    background-image: url(../img/flechita.png);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-right: 4px;
    
    cursor: pointer;
}
.sangria_cuerpo {
	padding-left: 15px;
}

.sangria_doble_cuerpo {
	padding-left: 30px;
}
.textAreaModal {
	width: 100%;
    height: 20%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    resize: none;
}
.btn_refresh {
	height: 21;
    padding: 5px;
    padding-top: 0px;
    cursor:pointer;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
/* ---------------------------------  FIN ESTILOS GENERALES */

/* ---------------------------------  INICIO ESTILOS TABLAS */
.dataTables_info {
	height: 30px;
	background-color: #E8E9E8;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	text-align: right;
	padding-right: 10px;
	padding-top: 3px;
}
/* ---------------------------------  FIN ESTILOS TABLAS */

/* ---------------------------------  LOGIN*/
.login{
	background:white;
	min-width:270px;
	width:264px;
	height:375px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	margin-top:13%;
	padding-left:25px;
	padding-right:25px;
}
input.form-control.input_login{
	border-right:0px;
	border-left:0px;
	border-top:0px;
	border-bottom:1px solid black;
	padding-bottom:0px;
	font-size:15px;
	border-radius:0px;
	font-family: "Helvetica";
}
input.form-control.input_login::placeholder{
	color:#AFADAD;
	font-family: "Helvetica";
}

.padding_pass{padding-top:15px;}

.btn.blogin{
background:#00427F;
border-radius: .30rem;
padding: 0;
font-size:12px;
color:white;
font-family: "Helvetica";
}

.btn.blogin:hover{
background:#3E72A1;
}
a
.btn.blogin:active{
background:#64DEF1;
}

a:focus{
	outline:none;
}

a.links{
	font-size:13px;
	text-decoration: underline;
	color:#00427F;
}

/* ------------------------------  NAVBAR / HEADERS   */
/* --------------------------------------modal perfil ----------------- */
#cuerpo_modal{
	background-color:#E5E5E5;
	border-radius: 2px !important;
}

#modal_perfil #cuerpo_modal{
	background-color: #FFF;
}

#modal_perfil .modal-dialog{
	max-width:300px;
	top:50;
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
	margin-left: 20;
}

#modal_notificaciones .modal-dialog{
	max-width:500px;
	top:25;
	margin-top: 1.75rem;
	margin-bottom: 1.75rem;
	margin-right: 0;
}

@media (max-width: 991px) {
	#modal_perfil .modal-dialog{margin: 1.75rem auto !important;}
	#modal_notificaciones .modal-dialog{margin: 1.75rem auto !important;}
}
.circulo_imagen{
	background-color:white;
    width: 100px;
    height: 100px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    position:relative;
    margin:0 auto;
    bottom:60;
    background-image:url('../img/sube_imagen.svg');
    background-position:center;
    background-repeat:no-repeat;
    background-size:130%;
    cursor:pointer;
}
.a_total{
	width:100%;
	padding-left:5px;
}
.etiqueta{
	color:#071B36;
	font-size:14;
}
.espacio{
	margin:5 0;
}
.boton_usuario{
	margin-top:10px;
	height:30;
	line-height: 0;
}
.boton_usuario:hover{
	color:white;
}
/*  ------------------------------------------------  */
#alerta_circulo{
	padding-top:3px;
	background-color:red;
	text-align:center;
	font-size: 10px;
    width: 17px;
    height: 17px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    color:white;
    line-height:1;
    position:relative;
    float:left;
    left:14px;
    bottom:3px;
    display:none;
}

.custom-toggler .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=0069ac');
}
.navbar_fondo{
	background: #071B36;
	padding:0rem 0rem;
}
.navbar_borde{
	border-bottom:4px solid white;
	height:52px;
}
@media (max-width: 991px) {
	.navbar_borde{height:auto;}
}

li.nav-item{
	width:90px;
}

 @media (max-width: 1200px) {
	li.nav-item{width:auto;}
	a.nav-link{text-align:left;}
} 
a.nav-link{
	text-align:center;
	border-bottom:4px solid white;
	height:56px;
	line-height:57px;;
}
a.nav-link:hover{
	color:#FF5B16 !important;
}
a.nav-link.resaltado{
	border-bottom:4px solid #40bcd8;
	color:#40bcd8;	
}
.navbar-brand{
	padding-left:20px;
}
/* --------------------------- GENERICOS --------------------*/ 
.center{
	text-align:center !important;
	align:center;
	justify-content: center;
	float:center;
}
.left{
	text-align:left;
	align:left;
}
.float_left{
	position:relative;
	float:left;
}
.right{
	text-align:right;
	align:right;
}
.float_right{
	position:relative;
	float:right;
}
.titulo{
	padding-left:12px;
	
}
.titulogrande{
	padding-top:3px;
	padding-left:12px;
	padding-right:5px;
}
@font-face {
font-family:"Helvetica Neue";
src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
font-family:"Helvetica Neue Bold";
src: url("../fonts/HelveticaNeue-Medium.otf");
}
body{
	background: #071B36;
	font-family: "Helvetica Neue" !important;
}
.negrita{
	font-family: "Helvetica Neue Bold" !important;
}
.letra{
	font-family: "Helvetica Neue" !important;
	font-weight: normal;
}
.t26{
	font-size:26px;
}
.t18{
	font-size:18px;
}
.t14{
	font-size:14px;
}
.t12{
	font-size:12px;
}
.t10{
	font-size:10px;
}
span.azul{
	color:#071B36;
}
.azul{
	color:#071B36;
}
.negro{
	color:black;
}
span.blanco{
	color:white !important;
}
tspan.blanco{
	fill: white;
}
.blanco{
	color:white !important;
}
.gris{
	color:#5d5d57;
}

.fgris{
	background-color:#e7e6e3;
}
.ffgris{
	background-color:#5d5d57;
}
span.gris{
	color:#5d5d57;
}
.fazul{
	background-color:#071B36 !important;
}
.fblanco{
	background-color:white;
}
.cabecera{
 	padding-top:5px;
 	padding-left:9px;
 }
/* ---------------------------------------- ESTILOS DE MENU PRINCIPAL*/
.menupr_estilos{
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #000000;

}
.padding_p{
	padding-left:7px;
	padding-right:7px;
	padding-bottom:5px;
	padding-top:5px;
} 
.divs_p{
	padding-left:5px;
	padding-right:5px;
	padding-bottom:10px;
} 
.abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

/* ----------------------------------- ESTILOS ELIMINACION DE FOCUS POR DEFAULT */
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}
.form-control:focus, .form-control.focus{
  outline: 0;
  box-shadow: none;
}

/* -------------------------------------------- POPOVER DEL HEADER ------------------------*/
/* ========== BEGIN POPOVER 1 ========== */
.opcionPerfil:hover{
	background:#F4F4F4;
}

.titulo_avisos{
	border-bottom:2px solid #D1D1D1;
	padding-left:10px;
	padding-right:10px;
	padding-top:3px;
	padding-bottom:3px;
	
}
.noleido{
	
	color:#22A0BC;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px solid #D1D1D1;

}
.leido{
	color:#D1D1D1;
	padding-left:10px;
	padding-right:10px;
	border-bottom:1px solid #D1D1D1;
	
}
.leido:hover, .noleido:hover{
	background:#F4F4F4;
}

.avisos{
	overflow-y:auto;
	max-height:200px;
}
#logout{
	margin:0;
	padding:0;
}
.popover1 {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1060;
  display: block;
  max-width: 276px;
  font-family: "Helvetica Neue";
  line-height: 1.5;
  text-align: left;
  text-align: start;
  text-decoration: none;
  text-shadow: none;
  text-transform: none;
  letter-spacing: normal;
  word-break: normal;
  word-spacing: normal;
  white-space: normal;
  line-break: auto;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 0.3rem;
}

.popover1 .arrow {
  position: absolute;
  display: block;
  width: 1rem;
  height: 0.5rem;
  margin: 0 0.3rem;
}

.popover1 .arrow::before, .popover1 .arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}

.bs-popover-top, .bs-popover-auto[x-placement^="top"] {
  margin-bottom: 0.5rem;
}

.bs-popover-top .arrow, .bs-popover-auto[x-placement^="top"] .arrow {
  bottom: calc((0.5rem + 1px) * -1);
}

.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before,
.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
  border-width: 0.5rem 0.5rem 0;
}

.bs-popover-top .arrow::before, .bs-popover-auto[x-placement^="top"] .arrow::before {
  bottom: 0;
  border-top-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-top .arrow::after, .bs-popover-auto[x-placement^="top"] .arrow::after {
  bottom: 1px;
  border-top-color: #fff;
}

.bs-popover-right, .bs-popover-auto[x-placement^="right"] {
  margin-left: 0.5rem;
}

.bs-popover-right .arrow, .bs-popover-auto[x-placement^="right"] .arrow {
  left: calc((0.5rem + 1px) * -1);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before,
.bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after {
  border-width: 0.5rem 0.5rem 0.5rem 0;
}

.bs-popover-right .arrow::before, .bs-popover-auto[x-placement^="right"] .arrow::before {
  left: 0;
  border-right-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-right .arrow::after, .bs-popover-auto[x-placement^="right"] .arrow::after {
  left: 1px;
  border-right-color: #fff;
}

.bs-popover-bottom, .bs-popover-auto[x-placement^="bottom"] {
  margin-top: 0.5rem;
}

.bs-popover-bottom .arrow, .bs-popover-auto[x-placement^="bottom"] .arrow {
  top: calc((0.5rem + 1px) * -1);
}

.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before,
.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
  border-width: 0 0.5rem 0.5rem 0.5rem;
}

.bs-popover-bottom .arrow::before, .bs-popover-auto[x-placement^="bottom"] .arrow::before {
  top: 0;
  border-bottom-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-bottom .arrow::after, .bs-popover-auto[x-placement^="bottom"] .arrow::after {
  top: 1px;
  border-bottom-color: #fff;
}

.bs-popover-bottom .popover1-header::before, .bs-popover-auto[x-placement^="bottom"] .popover1-header::before {
  position: absolute;
  top: 0;
  left: 50%;
  display: block;
  width: 1rem;
  margin-left: -0.5rem;
  content: "";
  border-bottom: 1px solid #f7f7f7;
}

.bs-popover-left, .bs-popover-auto[x-placement^="left"] {
  margin-right: 0.5rem;
}

.bs-popover-left .arrow, .bs-popover-auto[x-placement^="left"] .arrow {
  right: calc((0.5rem + 1px) * -1);
  width: 0.5rem;
  height: 1rem;
  margin: 0.3rem 0;
}

.bs-popover-left .arrow::before, .bs-popover-auto[x-placement^="left"] .arrow::before,
.bs-popover-left .arrow::after, .bs-popover-auto[x-placement^="left"] .arrow::after {
  border-width: 0.5rem 0 0.5rem 0.5rem;
}

.bs-popover-left .arrow::before, .bs-popover-auto[x-placement^="left"] .arrow::before {
  right: 0;
  border-left-color: rgba(0, 0, 0, 0.25);
}

.bs-popover-left .arrow::after, .bs-popover-auto[x-placement^="left"] .arrow::after {
  right: 1px;
  border-left-color: #fff;
}

.popover1-header {
font-weight:normal;
  padding: 0;
  margin-bottom: 0;
  color: inherit;
  background-color: #f7f7f7;
  border-bottom: 1px solid #ebebeb;
  border-top-left-radius: calc(0.3rem - 1px);
  border-top-right-radius: calc(0.3rem - 1px);
}

.popover1-header:empty {
  display: none;
  font-weight:normal;
}

.popover1 .popover-body {
font-weight:normal;
  padding: 0;
}

.circulo_imagen_inicio {
    width: 15px;
    height: 15px;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    margin: -6px 30px 15px 3px;
    bottom: 60;
    background-position: center;
    background-repeat: no-repeat;
    background-size: 130%;
    cursor: pointer;
}

.inputerror{
	border : 1px solid red;
}

.inputform{
	border : 1px solid silver;
}



/*-----------INICIO NOTIFICACIONES 2.0---------------*/
.tituloNotificaciones{
	float: left;
	width: 45%;
	line-height: 35px;
}

.leidos{
	text-align: center;
    cursor: pointer;
    background-image: url(../img/documentacion/palomitaNot.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 10%;
}

.grisNot{
	color: #a3a3a0;
}

.segmentoNotificaciones{
	width: 100%;
	height: 40px;
}

.opcionNotificacion{
	width: 30%;
	border-bottom: 3px solid #a3a3a0;
	text-align: center;
	cursor: pointer;
	margin-top: 5px;
}

.t11{
	font-size: 11px;
}

.contenedorNotificaciones{
	height: 75%;
    max-height: 75%;
    width: 100%;
    overflow: auto;
}

.notificacionActivada{
	border-bottom-color: #071B36;
	color: #071B36;
}

.notificacionActivadaTurquesa{
	border-bottom-color: #34bbdc;
	color: #34bbdc;
}

.notificacion{
	font-size: 13px;
    width: 100%;
    height: 60px;
    cursor: pointer;
}

.titulos{
	margin-left: 2%;	
	width: 68%;
	float: left;
}

.tituloNotificacion{
    font-weight: bold;
    line-height: 25px;
}

.subtituloNotificacion{
    line-height: 25px;
}

.azulTurquesa{
	color: #34bbdc;
}

.fechaNotificacion{
	width: 30%;
    float: left;
    font-size: 11px;
    text-align: center;
	color: #828282;
	line-height: 50px;
}

.notificacionLeida{
	color: #828282 !important;
    background-color: #e6e6e6;
}

.sinNotificaciones{
	color: #828282;
    text-align: center;
    padding-top: 100px;
    font-size: 13px;
}
/*-------------FIN NOTIFICACIONES 2.0---------------*/
