/* ---------------------------------  INICIA ESTILOS GENERALES */
html {
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif
}
.loadingPagina {
	position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(19, 17, 17, 0.7);
	z-index: 100;
}
.mensajes_modal {
	position: absolute;
    padding: 0px;
    margin: 0px;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(19, 17, 17, 0.7);
	z-index: 100;
	display: none;
    justify-content: center;
    align-items: center;
}
.mensaje {
	height: 25%;
    width: 35%;
}
#tituloMensaje {
	color: #FFFFFF;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
}
#descripcionMensaje {
	color: #616161;
	font-family: sans-serif;
	font-size: 18px;
	display: table-cell;
	vertical-align: middle;
}
#botonesMensaje {
	display: flex;
    vertical-align: middle;
    text-align: center;
    justify-content: center;
    color: #FFFFFF;
}
.loader {
  position: absolute;
  top: 50%;
  left: 40%;
  margin-left: 10%;
  transform: translate3d(-50%, -50%, 0);
}
.dot {
  width: 24px;
  height: 24px;
  background: #3ac;
  border-radius: 100%;
  display: inline-block;
  animation: slide 1s infinite;
}
.dot:nth-child(1) {
  animation-delay: 0.1s;
  background: #32aacc;
}
.dot:nth-child(2) {
  animation-delay: 0.2s;
  background: #64aacc;
}
.dot:nth-child(3) {
  animation-delay: 0.3s;
  background: #96aacc;
}
.dot:nth-child(4) {
  animation-delay: 0.4s;
  background: #c8aacc;
}
.dot:nth-child(5) {
  animation-delay: 0.5s;
  background: #faaacc;
}
@-moz-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-webkit-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@-o-keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes slide {
  0% {
    transform: scale(1);
  }
  50% {
    opacity: 0.3;
    transform: scale(2);
  }
  100% {
    transform: scale(1);
  }
}
.fechaInicialCalendario {
	width: 87px;
	height: 21px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border: 0px solid #000000;
    background-color: white;
    font-size: 12px;
    margin-left:8px;
    padding-left: 8px;
    background-image: url(../img/flechita.png);
    background-position: right;
    background-repeat: no-repeat;
    background-origin: content-box;
    padding-right: 4px;
    
    cursor: pointer;
}
.sangria_cuerpo {
	padding-left: 15px;
}

.sangria_doble_cuerpo {
	padding-left: 30px;
}
.textAreaModal {
	width: 100%;
    height: 30%;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
.btn_refresh {
	height: 21;
    padding: 5px;
    padding-top: 0px;
    cursor:pointer;
    background: #FFFFFF;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
}
/* ---------------------------------  FIN ESTILOS GENERALES */

/* ---------------------------------  INICIO ESTILOS TABLAS */
.dataTables_info {
	height: 30px;
	background-color: #E8E9E8;
	border-top: 1px solid #d6d6d6;
	border-bottom: 1px solid #d6d6d6;
	text-align: right;
	padding-right: 10px;
	padding-top: 3px;
}
/* ---------------------------------  FIN ESTILOS TABLAS */

/* ---------------------------------  LOGIN*/
.login{
	background:white;
	min-width:270px;
	width:264px;
	height:375px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	margin-top:13%;
	padding-left:25px;
	padding-right:25px;
}
input.form-control.input_login{
	border-right:0px;
	border-left:0px;
	border-top:0px;
	border-bottom:1px solid black;
	padding-bottom:0px;
	font-size:15px;
	border-radius:0px;
	font-family: "Helvetica";
}
input.form-control.input_login::placeholder{
	color:#AFADAD;
	font-family: "Helvetica";
}

.padding_pass{padding-top:15px;}

.btn.blogin{
background:#00427F;
border-radius: .30rem;
padding: 0;
font-size:12px;
color:white;
font-family: "Helvetica";
}

.btn.blogin:hover{
background:#3E72A1;
}

.btn.blogin:active{
background:#64DEF1;
}



a.links{
	font-size:13px;
	text-decoration: underline;
	color:#00427F;
}
/* ------------------------------  NAVBAR / HEADERS   */

.custom-toggler .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=0069ac');
}
.navbar_fondo{
	background: linear-gradient(#254581, #0E121C);
	padding:0rem 0rem;
}
.navbar_borde{
	border-bottom:4px solid white;
	height:52px;
}
@media (max-width: 991px) {
	.navbar_borde{height:auto;}
}

li.nav-item{
	width:120px;
}

 @media (max-width: 1200px) {
	li.nav-item{width:auto;}
	a.nav-link{text-align:left;}
} 
a.nav-link{
	text-align:center;
	border-bottom:4px solid white;
	height:56px;
	line-height:57px;;
}
a.nav-link:hover{
	color:#FF5B16 !important;
}
a.nav-link.resaltado{
	border-bottom:4px solid #40bcd8;
	color:#40bcd8;	
}
.navbar-brand{
	padding-left:20px;
}
/* --------------------------- GENERICOS --------------------*/ 
.center{
	text-align:center !important;
	align:center;
	justify-content: center;
	float:center;
}
.left{
	text-align:left;
	align:left;
}
.float_left{
	position:relative;
	float:left;
}
.right{
	text-align:right;
	align:right;
}
.float_right{
	position:relative;
	float:right;
}
.titulo{
	padding-left:12px;
	
}
.titulogrande{
	padding-top:3px;
	padding-left:12px;
	padding-right:5px;
}
@font-face {
font-family:"Helvetica Neue";
src: url("../fonts/HelveticaNeue.ttf");
}
@font-face {
font-family:"Helvetica Neue Bold";
src: url("../fonts/HelveticaNeue-Medium.otf");
}
body{
	background: #e7e6e3;
	font-family: "Helvetica Neue";
}
.negrita{
	font-family: "Helvetica Neue Bold";
}
.letra{
	font-family: "Helvetica Neue";
	font-weight: normal;
}
.t18{
	font-size:18px;
}
.t14{
	font-size:14px;
}
.t12{
	font-size:12px;
}
.t10{
	font-size:10px;
}
span.azul{
	color:#071B36;
}
.azul{
	color:#071B36;
}
.negro{
	color:black;
}
span.blanco{
	color:white !important;
}
tspan.blanco{
	fill: white;
}
.blanco{
	color:white !important;
}
.gris{
	color:#5d5d57;
}
.fgris{
	background-color:#e7e6e3;
}
span.gris{
	color:#5d5d57;
}
.fazul{
	background-color:#071B36;
}
.fblanco{
	background-color:white;
}
 .cabecera{
 	padding-top:10px;
 	padding-left:0px;
 }
/* ---------------------------------------- ESTILOS DE MENU PRINCIPAL*/
.menupr_estilos{
	border-radius: 2px 2px 2px 2px;
	-moz-border-radius: 2px 2px 2px 2px;
	-webkit-border-radius: 2px 2px 2px 2px;
	border: 0px solid #000000;

}
.padding_p{
	padding-left:7px;
	padding-right:7px;
	padding-bottom:5px;
	padding-top:5px;
} 
.divs_p{
	padding-left:5px;
	padding-right:5px;
	padding-bottom:10px;
} 
.abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

/* ----------------------------------- ESTILOS ELIMINACION DE FOCUS POR DEFAULT */
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}
.form-control:focus, .form-control.focus{
  outline: 0;
  box-shadow: none;
}