/* ---------------------------------  LOGIN*/
.login{
	background:white;
	min-width:270px;
	width:264px;
	height:375px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
	border: 0px solid #000000;
	margin-top:13%;
	padding-left:25px;
	padding-right:25px;
}
input.form-control.input_login{
	border-right:0px;
	border-left:0px;
	border-top:0px;
	border-bottom:1px solid black;
	padding-bottom:0px;
	font-size:15px;
	border-radius:0px;
	font-family: "Helvetica";
}
input.form-control.input_login::placeholder{
	color:#AFADAD;
	font-family: "Helvetica";
}

.loginfondo {background:gray; height:100%;}
.padding_pass{padding-top:15px;}

.btn.blogin{
background:#00427F;
border-radius: .30rem;
padding: 0;
font-size:12px;
color:white;
font-family: "Helvetica";
}

.btn.blogin:hover{
background:#3E72A1;
}

.btn.blogin:active{
background:#64DEF1;
}



a.links{
	font-size:13px;
	text-decoration: underline;
	color:#00427F;
}
/* ------------------------------  NAVBAR / HEADERS   */

.custom-toggler .navbar-toggler-icon {
background-image: url('https://mdbootstrap.com/img/svg/hamburger7.svg?color=0069ac');
}
.navbar_fondo{
	background-color:#ffffff;
	padding:0rem 0rem;
}
.navbar_borde{
	border-bottom:4px solid #00427F;
	height:47px;
}
@media (max-width: 991px) {
	.navbar_borde{height:auto;}
}

li.nav-item{
	width:120px;
}

 @media (max-width: 1200px) {
	li.nav-item{width:auto;}
	a.nav-link{text-align:left;}
} 
a.nav-link{
	font-size: 15px;
	color:darkblue;
	text-align:center;
	border-bottom:4px solid #00427F;
	height:51px;
	line-height:47px;;
}
a.nav-link:hover{
	border-bottom:4px solid #00427F;
	background:#cce0f4;
}
a.nav-link.resaltado{
	border-bottom:4px solid #40bcd8;
	color:#40bcd8;	
}
.navbar-brand{
	padding:0px;
}
/* --------------------------- GENERICOS --------------------*/ 
.center{
	text-align:center;
	align:center;
	justify-content: center;
	float:center;
}
.left{
	text-align:left;
	align:left;
}
.right{
	text-align:right;
	align:right;
}

.titulo{
	font-weight:bold;
	color:white;
	font-size:12px;
	padding-left:12px;
	
}
.titulogrande{
	color:white;
	font-size:22px;
	padding-top:3px;
	padding-left:12px;
	padding-right:5px;
}
body{
	background: linear-gradient(#005B97,#0075BE,#1E9CD7,#CCE0F4);
	font-family: "Helvetica";
}

/* ---------------------------------------- ESTILOS DE MENU PRINCIPAL*/
.menupr_estilos{
	border-radius: 8px 8px 8px 8px;
	-moz-border-radius: 8px 8px 8px 8px;
	-webkit-border-radius: 8px 8px 8px 8px;
	border: 0px solid #000000;
	background:white;
}
.padding_p{
	padding-left:7px;
	padding-right:7px;
	padding-bottom:5px;
	padding-top:5px;
} 
.divs_p{
	padding-left:7px;
	padding-right:7px;
	padding-bottom:12px;
} 
.abs-center-x {
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
}

/* ----------------------------------- ESTILOS PARA EL MAPA */
