.desp{
	font-size:12px;
	font-family:"Helvetica Neue";
	background-color:white;
	color:#00437e;
	border:0;
	height:27px !important;
	width:27px !important;
	padding:0;
	margin-left:7px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
}
#atras{
	width:25px;
}
.cuadroeditar{
	background-image:url('../img/aprobadas/editarB.png');
	background-color:#40BCD8;
	background-repeat:no-repeat;
	background-position:center;
	background-size:15px 15px;
	border:0;
	height:19px !important;
	width:19px !important;
	padding:0;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    margin-left:10px;
    display:none;
}
.cuadrocancelar{
	background-image:url('../img/aprobadas/cancelarB.png');
	background-color:#FF5B16;
	background-repeat:no-repeat;
	background-position:center;
	background-size:15px 15px;
	border:0;
	height:19px !important;
	width:19px !important;
	padding:0;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    margin-left:10px;
        display:none;
    
}
.cuadroguardar{
	background-image:url('../img/aprobadas/save.png');
	background-color:#1E9D42;
	background-repeat:no-repeat;
	background-position:center;
	background-size:15px 15px;
	border:0;
	margin-left:10px;
	height:19px !important;
	width:19px !important;
	padding:0;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
       display:none;
    
}
.grupo{
	border-radius: 2px;
	height:30px;
	margin-bottom:10px;
	width:100%;
}

.rechargue{
	width:25px;
}
.verde{
	color:#1E9D42;
}
.cabecera{
	padding-bottom:10px;
}
/* ----------------------------------LINEA DE TIEMPO -----------------------------*/
.gantt-container{
	overflow:auto;
	height:55% !important;
}

.handle-group{
	display:none;
}
.campo:disabled, .campo[readonly] {
	background-color:transparent;
	border:0;
	padding-left:0;
}
.gantt .bar-progress {
    fill: #1E9D42;
}
.gantt .bar-label {
	fill:white;
}
.gantt .arrow {
	stroke:#1E9D42;
}
/* ---------------------------------- fin LINEA DE TIEMPO -----------------------------*/
#progres_ext{
	padding:3px;
	background-color:transparent;
	border:1px solid #C9C9C9;
	border-radius: .15rem;
	height: 25px;
}
#progres_int{
	background-color:#1E9D42;
}
.gantt .verde .bar-label {
	fill:#1E9D42;
}
.gantt .rojo .bar-label {
	fill:red;
}
.gantt .bar {
    fill: #F4F4F4;
    stroke: #8D99A6;
    stroke-width: 0;
    transition: stroke-width .3s ease;
    user-select: none;
}
.gantt .bar-wrapper.active .bar {
    fill: #F4F4F4;
}

.gantt .grid-row:nth-child(even) {
    fill: #ffffff;
}

.gantt-container .popup-wrapper {
	display:none !important;
}