h5{
	margin-bottom:0px;
}

#map {
    height: 92%;
    height: calc(100vh - 80px) !important;
}

/* ------------------------------- BOTONES */
.titleDivContent{
	cursor: pointer;
    padding-left: 25px;
    color: #747474;
    
   color: #c7c7c7;
}

.titleDivContent:hover{
    color: #40BCD8;
}

.spanText{
	color: #747474;
	
	color: #c7c7c7;

}

.spanText_{
	color: #747474;
	padding-left: 15px;
	color: #c7c7c7;
}

#spand_nuevo::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #fbb110;
    position: absolute;
        margin-top: 1%;
    margin-left: -6%;
}

#spand_proceso::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #00bf5f;
    position: absolute;
        margin-top: 1%;
    margin-left: -6%;
}

#spand_asignado::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #1d2b4a;
    position: absolute;
       margin-top: 1%;
    margin-left: -6%;
}

#spand_cancelado::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #ff5656;
    position: absolute;
       margin-top: 1%;
    margin-left: -6%;
}

#spand_concluido::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #007fff;
    position: absolute;
        margin-top: 1%;
    margin-left: -6%;
}

#spand_mds::before {
    content: '';
    display: inline-block;
    width: 15px;
    height: 15px;
    -moz-border-radius: 7.5px;
    -webkit-border-radius: 7.5px;
    border-radius: 7.5px;
    background-color: #ff5b15;
    position: absolute;
       margin-top: 1%;
    margin-left: -6%;
}



#altaRadio::before { 
	background-image: url(../img/iconos_radios.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
  
}

#altaRadio:hover::before { 
	background-image: url('../img/iconos_radiosON.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
 }

#altaRadio.color_3::before { 
	background-image: url(../img/iconos_radiosON.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}


#asignarRadio::before { 
	background-image: url(../img/iconos_asignar.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}

#asignarRadio:hover::before { 
	background-image: url('../img/iconos_asignarON.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}

#asignarRadio.color_3::before { 
	background-image: url(../img/iconos_asignarON.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}


#localizaTime::before { 
	background-image: url(../img/iconos_Ruta.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}

#localizaTime:hover::before { 
	background-image: url('../img/iconos_RutaON.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}

#localizaTime.color_3::before { 
	background-image: url(../img/iconos_RutaON.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}


#verMds::before { 
	background-image: url(../img/iconos_MD.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}

#verMds:hover::before { 
	background-image: url('../img/iconos_MD_ON.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}

#verMds.color_3::before { 
	background-image: url(../img/iconos_MD_ON.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}


#verRadiosEstatus::before { 
	background-image: url(../img/iconos_Radio_General.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}

#verRadiosEstatus:hover::before { 
	background-image: url('../img/iconos_Radio_GeneralON.svg');
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}

#verRadiosEstatus.color_3::before { 
	background-image: url(../img/iconos_Radio_GeneralON.svg);
    background-size: 25px 25px;
    background-repeat: no-repeat;
    background-position: -1px -1px;
    display: inline-block;
    width: 29px;
    height: 30px;
    position: absolute;
    content: "";
    left: 5%;
}



#xlf{
    width: 257px;
    font-size: 12px;	
}

.contentDetalle{
	padding-bottom: 10px;
    padding-top: 10px;
}

 .contentLocalizador{
	z-index: 100;
    width: 300px;
    height: auto;
    position: fixed;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 13px;
    margin: 2% 0%;
 }
 
 .content{
     padding: 10px;
 }
 
 #drop{
    border: 2px dashed #bbb;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px 0px 0px;
    text-align: center;
    color: #bbb;
    background-image: url(../img/icon-upload-file.svg);
    background-repeat: no-repeat;
    background-size: 27%;
    background-position: 46% -5px;
    font-size: 14px;
}

#b64data{
	width:100%;
}

a { text-decoration: none }

 .bordeDiv{
 	    border-bottom: 1.3px solid #999898;
 }

 
 .hidden{
 	display:none;
 }
 
.btn{
    padding: 1px;
    font-size: 13px;
    font-weight: 700;
}

.btn_cancelar{float: right;}

.btn_aceptar{
	color:#ffffff;    
	font-size: 12px;
    padding: 0px 7px 0 6px;
}

.btn.evento:hover{
	background:#c8c8c8;
}

.motivoRechazo{
	width: 250px;
    border: 1px solid #000c48;
    padding-left: 4%;
    border-radius: 4px;
}
/* === INFO RADIO LOCALIZADO === */

#containerInfoRadio{
    width: 580px;
    background: white;
}

#contentInfoDemograf{
    float: left;
    text-align: center;
}

.classContents{
    padding: 8px 3px 0 25px;
}

.titleInfoRadio{
    text-align: center;
    padding-top: 12px;
    color: #00417F;	
}

.subtitleInfoRadio {
    text-align: center;
    padding-top: 0px;
    color: #00417F;
}
    
table {
    width: 273px;
        font-size: 13px;
}

#contentInfoDireccion {
        float: left;
}

thead {
   backround : green;
   height: 35px;
    width: 350px;
    border-collapse: collapse;
    background: #e8e8e8;
}

table thead tr{
     height: 34px;
     text-align: center;
}

.atrasadas{background:#FF5B16;}
.realizadas{background:#5D5D5D;}
.porRealizar{background:#071B36;}

.fechaInicialCalendario {    
    width: 251px;
    height: 25px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 1px solid #000c48;
    font-size: 14px;
    margin-left: 0px;
    background-image: url(../img/localizador/icono_calendarioFlat_gris_.png);
    background-position: 4%;
    background-repeat: no-repeat;
    background-size: 20px;
    background-origin: initial;
    padding-left: 45px;
    cursor: pointer;
}

.ui-datepicker-trigger {
    display: none !important;
}


/* === 	CONTENT POP UP ===== */
/* .contentPopUpInfo {
    z-index: 100;
    width: 16%;
    height: auto;
    position: fixed;
    background: #000000;
    opacity: 0.90;
    padding-left: 10px;
    padding-right: 13px;
    margin: 4% 0% 0 83.1%;
}
 */


.subtitleInfo {
    text-align: left;
    padding-top: 0px;
    color: #ffffff;
    font-size: 14px;
}

.bordeDivInfo {
    border-top: 1px solid #ffffffcf;
}

.subTitleInfo {
    color: white;
    font-size: 14px;
}

.infoValue{
	text-align: right;
}

.left_float{
	float : left;
}


/* === MDS ===*/
.contentPopUpInfoMD {
    z-index: 100;
    width: 16%;
    height: auto;
    position: fixed;
    background: #000000;
    opacity: 0.90;
    padding-left: 10px;
    padding-right: 13px;
    margin: 4% 0% 0 83.1%;
}

.divTituloFixed{
	position: fixed;
    width: 19.5%;
    height: 6%;
    background: black;
}





.contentPopUpInfoMD {
	z-index: 100;
    width: 21%;
    height: auto;
    position: fixed;
    background: #000000;
    opacity: 0.90;
    padding-left: 10px;
    padding-right: 13px;
    margin: 4% 0% 0 78.1%;
}

.btonCenterPosition{
	margin-left: 35%;
}

.back_btonOrange {
    background-color: #ffac00cc;
}

.ui-state-highlight, .ui-widget-content .ui-state-highlight, .ui-widget-header .ui-state-highlight {

}

.ui-state-active, .ui-widget-content .ui-state-active, .ui-widget-header .ui-state-active, a.ui-button:active, .ui-button:active, .ui-button.ui-state-active:hover {

    font-weight: normal;
    border: 1px solid #1d2124;
    background: #173a5f;
    color: #ffffff;
}

.boton_datosPerfil:hover {
    color: white;
    background-color: #536379;
}

.boton_datosPerfil {
    margin-top: 10px;
    height: 30;
    line-height: 0;
}

.checkBlock {
    color: #e5e3e3;
    cursor: no-drop;
}

/* === BACKGROUNG COLOR === */
.back_1{background-color:#FF7C17;}
.back_2{background-color:#00417F;}
.back_3{background-color:#40BCD8;}
.back_4{background-color:#1E9D42;}

.back_5{
	background-color:#071B36;
    background-color: #f7930099;
}

.back_5 {
    background-color: #071B36;
    border: 1px solid #023f6f;
    color: #c5c5c5;
    padding: 3px 10px;
}

.back_6{background-color:#ff80c0;}
.back_7{background-color:#000000;}
.back_8{background-color:#804000;}
.back_9{background-color:#808000;}
.back_10{background-color:#400080;}

/* === BACKGROUNG COLOR === */
.color_5{color:#071B36;}
.color_3{color:#40BCD8;}





/* ESTILOS 2020 */
.btn_infoClose {
    font-size: 26px;
    color: red;
    cursor: pointer;
    height: 25px;
    margin-top: 6px;
}

.btn_infoClose:hover {
    font-weight: bold;
}



.titulo_info{
    color: #Fbb110;
    text-align: center;
    font-size: 20px;
    font-weight: 600;	
}

.btn_infoClose {
    font-size: 22px;
    cursor: pointer;
}

.etiqueta-size-colum{
	width: 100px;
    padding-left: 5px;
}

.etiqueta-white-l{
	text-align: left;
	color: white;
    font-size: 13px;
    padding-left: 12px;
}


.img-tamanio-info-demografica{
	height: 45px;
    width: 45px;
}

/* INFORMACION SOCIO DEMOGRAFICA */
.subTitleInfo {
    color: #Fbb110;
    font-size: 14px;
    padding-top : 4px;
}

.etiqueta-size-colum-2{
	text-align: left;
	width: 130px;
    padding-left: 12px;
}

.etiqueta-size-colum-3 {
    text-align: left;
    width: 260px;
    padding-left: 12px;
}

/* === BACKGROUND CONTENEDORES == */
.contentPopUpInfo {
    z-index: 100;
    background: #000000;
    opacity: 0.85;
    overflow: auto;
    
    background: #000000de;
    backdrop-filter: blur(7px);
}

 .contentLocalizador{
	z-index: 100;
    width: 300px;
    height: auto;
    position: fixed;
    background: #ffffff;
    padding-left: 10px;
    padding-right: 13px;
    margin: 2% 0%;
    
    background: #000000a8;
    backdrop-filter: blur(10px);
 }



.tamanioContenedormodal{
	position : absolute;
}
    
.content-section-overflow2{
	overflow-y: auto;
    height: calc(100vh - 328px) !important;	
}

.content-section-overflow{
	overflow-y: auto;
    height: calc(100vh - 210px) !important;	
}

.contenedor-grafica-radar{
	width: 323px !important;
    height: 304%;
}

#radar_ocupaciones{
    display: block !important;
    height: 230px !important;
    width: 430px !important;
}

.content-section-overflow::-webkit-scrollbar {
    height: 10px;
}

.content-section-overflow::-webkit-scrollbar-thumb {
    background: #FF5722;
    border-radius: 20px;
}

.content-section-overflow::-webkit-scrollbar-track {
    background: #dfdfdf;
    border-radius: 8px;
}

.content-section-overflow2::-webkit-scrollbar {
    height: 10px;
}

.content-section-overflow2::-webkit-scrollbar-thumb {
    background: #FF5722;
    border-radius: 20px;
}

.content-section-overflow2::-webkit-scrollbar-track {
    background: #dfdfdf;
    border-radius: 8px;
}



/* ===== SECCIONES SCROLL  */
.seccionScrollContent{
    width: 100%;
    margin-left: 0px;
}

.contenedor-radar-ocupaciones{
	overflow: auto;
	overflow: hidden;
}

/* ==== CSS OPTION ==== */    
.container ul{
  list-style: none;
  margin: 0;
  padding: 0;
	overflow: auto;
}

.container ul li{
    color: #AAAAAA;
    display: block;
    position: relative;
    float: left;
    width: 25%;
    height: 15px;
    border-bottom: 0px solid #333;
}

.container ul li input[type=radio]{
  position: absolute;
  visibility: hidden;
}

.container ul li label{
    display: block;
    position: relative;
    font-weight: 300;
    font-size: 1.35em;
    padding: 0px 0px 0px 30px;
    margin: 0px 0px;
    height: 15px;
    z-index: 9;
    cursor: pointer;
    -webkit-transition: all 0.25s linear;
}

.container ul li:hover label{
	color: #FFFFFF;
}

.container ul li .check{
    display: block;
    position: absolute;
    border: 6px solid #AAAAAA;
    border-radius: 100%;
    height: 12px;
    width: 12px;
    top: 0px;
    left: 3px;
    z-index: 5;
    transition: border .25s linear;
    -webkit-transition: border .25s linear;
}

.container ul li:hover .check {
  border: 5px solid #FFFFFF;
}

.container ul li .check::before {
	display: block;
    position: absolute;
    content: '';
    border-radius: 100%;
    height: 11px;
    width: 11px;
    top: -3px;
    left: -3px;
    margin: auto;
    transition: background 0.25s linear;
    -webkit-transition: background 0.25s linear;
}

.container input[type=radio]:checked ~ .check {
      border: 4px solid #FF9800;
}

.container input[type=radio]:checked ~ .check::before{
  background: #FF9800;
}

.chosen-container-single .chosen-single {
    background: transparent !important;
    color: white !important;
    -webkit-box-shadow: none !important;
    box-shadow:  none !important;
    text-decoration:  none !important;
}

.fechaInicialCalendario {
    width: 256px;
    height: 26px; 
    background-color: transparent;
    border: 1px solid #bbbbbb;
    color: #dadada;
    border-radius: 5px;
}

    
::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
      color: #989898;
  opacity: 1; /* Firefox */

}    
    
.input-transparent{
	font-size : 13px;
	width: 251px;
    height: 26px;
    border-radius: 5px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border: 1px solid #b5b6b7;
    margin-left: 0px;
    padding-left: 5px;
    padding-top : 2px;
    background: transparent;
    color: white;
}


.bton-quitar-asignacion{
    background-color: #e11809;
    color: #ebc6c6;
    padding: 1px 5px;
    border-radius: 2px;
    border-bottom: 1px solid #ff4234;
}

.text-etiqueta{
	color: white;
    font-size: 12px;
}


.subTitleInfo-asig-anillo {
    color: #Fbb110;
    font-size: 13px;
    font-weight: 600;
    padding: 0px !important;
    margin: 0px !important;
}

.bton-color-azul {
    background-color: #0e5dff;
    color: white;
    border-radius: 2px;
    padding: 1px 8px;
}

.col-20-generadores{
	width : 20%;
}