* {
	margin: 0;
	padding: 0;
}
.logoNetoExagono {
	width: 100%;
	opacity: .1;
}
body {
	font-family: "Helvetica";
}
.altura{
	height:5%;
}
.imagen{
	position:relative;
	top:-20;
}
.mensajeerror{
	height:10px;
	text-align:center;
	font-size:10px;
	color:#40BCD8;
	top:-100;
	position:relative;
}
.bg-image {
	background: url('../img/bg3.jpg');
	width: 100%;
	background-position: center;
    background-repeat: repeat-y;
    background-size: cover;
	overflow-y: auto;
	overflow-x: hidden;
}

input[type=text]:focus {
	outline: none;
	outline-style: none;
	outline-color: none;
}

.btn:hover{
	background: none;
	border: 2px solid var(--primary);
	color: var(--primary);
}

.btn:hover p{
	color: var(--primary);
}

.btn:hover .icon-dark-sm{
	color: var(--primary);
}

.input-group-text{
	background: none;
	border: 0;
}
.contenedor {
	width: 100%;
	min-width: 100%;
}


/* ---------------------------------  LOGIN*/
.vertical-center {
	height: 100%;
	/*height: 100vh;*/
	display: flex;
	align-items: center;
}

/*Contenido de exagonos*/
.vertical-center-exagono {
	height: 100%;
	/*min-height: 100%;*/
	display: flex;
	align-items: center;
	filter: none;
}
.img-exagono-max {
	width: 40px;
	height: 40px;
}
.margenHEntreExagonos {
	margin: 0 4px;
}
.margenVEntreExagonos {
	margin: -11em 0;
}
.tamFuenteTituloExagono {
	font-size: 28px;
	opacity: .7;
}

.bg-color-exagono-in {
	background-color: rgba(0,0,0, .05) !important;
}
.separadorInputLogin {}/*utilizado cuando se redimenciona la pantalla*/
.altoExagono {}/*utilizado para pantalla minima en los exagonos*/

/*para solventar el espacio de contraseña incorrecta*/
.margenPassExagono {
	margin-top: 2.2em;
}
.linkHuellaAsistencia {
	top: -7em;
	color: white;
	transition: 1s all ease;
	margin-bottom: 1em;
}
.linkHuellaAsistencia:hover {
	color: rgba(10,200,255,.8);
	text-decoration: none;
}


/* input login */
.input_login{
	width:70%;
	color: #FFFFFF;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: 1px solid #FFF;
	background: transparent !important;
	padding:0;
	font-size: 14px;
	border-radius: 0;
	text-align: center;
	box-shadow: none;
	margin: 0 auto;
	font-family:"Helvetica";
}
.input_login:focus{
	color:white;
}
.input_login::placeholder{
	color: #FFFFFF;
	font-size: 10px;
}

/*  input login error*/
input.form-control.inputError{
	border-bottom: 2px solid white;
}

.inputErrorText{
	color: rgba(10,200,255,.8);
	font-weight: bold;
	margin: .5rem 0 0 0;
	padding: 0;
	max-height: 10px;
    top: -8em;
}
input.form-control.inputError::placeholder{
	color: white;
	font-size: 10px;
}

/* reset loggin error*/
input.form-control.inputErrorReset{
	/*border-bottom:1px solid #AFADAD;*/
}
input.form-control.inputErrorReset::placeholder{
	color: #FFFFFF;
}


.loginfondo {background:gray; height:100%;}

/* boton login */

.btn.blogin{
	width: 100%;
	padding: .3rem .5rem;
	background: #FFFFFF;
	border-radius: .30rem;
	font-size: 13px;
	color:black;
}

.btn.blogin:hover{
	background:#3E72A1;
}

.btn.blogin:active{
	background:#64DEF1;
}

.btn.btnOlvidoContrasena {
	margin-bottom:-2.7em;
	border: 0;
	text-decoration: none;
	font-size: 8px;
	color: rgba(255,255,255,.8);
	box-shadow: none;
}

.btn.btnOlvidoContrasena:hover{
	color: #40BCD8;
}

.btn.btnOlvidoContrasena:active{
	color: rgba(255,255,255,1);
}


a.links{
	font-size:13px;
	text-decoration: underline;
	color:#00427F;
}
a.linksLogin{
	font-size: 11px;
	text-decoration: underline;
	color:#00427F;
}

.center{
	text-align:center;
	align:center;
	justify-content: center;
	float:center;
}

.hexagon {
    width: 150px;
    height: 300px;
    transform: rotate(120deg);
	visibility: hidden;
    overflow: hidden;
	display: inline-block;
    list-style-type: none;
	margin: 0 3px;
	position: absolute;
	top: 9px;
	left: 1px;
}
.hexagonB {
    width: 160px;
    height: 320px;
    transform: rotate(120deg);
	visibility: hidden;
    overflow: hidden;
	display: inline-block;
    list-style-type: none;
	outline: 1px solid red;
    outline-offset: -10px;
	position: relative;
}

.hexagon-in1 {
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
	overflow: hidden;
}
.hexagon-in1B {
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
	overflow: hidden;
	border: 1px solid #004085;
	outline: 1px solid rgba(0,0,0, .4);
	outline-offset: -2px;
}
.hexagon-in2 {
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
	visibility: visible;
    line-height: 200px;
    font-size: 12px;
    color: #FFFFFF;
    text-shadow: 1px 1px #000;
    transition: 1s ease;
	background-color: rgba(0,0,0,.2);
	-backdrop-filter: blur(30px) opacity(.9) brightness(-16%);
	-webkit-backdrop-filter: blur(30px) opacity(.9) brightness(-16%);
}
.hexagon-in2B {
    display: block;
    width: 100%;
    height: 100%;
    transform: rotate(-60deg);
	visibility: visible;
	background-color: rgba(0,0,0, .1);
    line-height: 200px;
    font-size: 12px;
    color: #FFFFFF;
}

.hexagon-in2:hover {
    background-color: rgba(0,0,0, .07);
    color: rgba(10,200,255,.8);
	-webkit-backdrop-filter: blur(0px) opacity(.1) brightness(0%);;
}


@media(min-width: 945px) {	
	.contenedor{padding-top:5%;}	
}

@media screen and (min-width: 301px) and (max-width: 945px) {
	.imagen{
	position:relative;
	top:-15;
}
	
	.margenVEntreExagonos {
		margin: -7.4em 0;
	}
	.img-exagono-max {
		width: 30px;
		height: 30px;
	}
	.input_login{
		padding: .1rem .5rem;
		font-size: 12px;
	}
	.form-control.input_login::placeholder{
		font-size: 6.5px;
	}
	.btn.btnOlvidoContrasena {
		margin-bottom: 0.7em;
		font-size: 7px;
	}
	.separadorInputLogin {
		margin-bottom: 2.4em;		
	}
	.linkHuellaAsistencia {
		top: -10em;
	}
	.hexagon {
		width: 110px;
		height: 210px;
	}
	.hexagonB {
		width: 120px;
		height: 230px;
	}
}

@media(max-width: 800px){
	.altura{top:0;}
}

@media all and (max-width: 300px) {
	.imagen{
	position:relative;
	top:-15;
	}
	
	.margenVEntreExagonos {
		margin: -8.5em 0;
	}
	.tamFuenteTituloExagono {
		font-size: 20px;
	}
	.img-exagono-max {
		width: 35px;
		height: 35px;
	}
	.vertical-center-exagono {
		top: 3em;
	}
	.input_login{
		padding: .2rem .5rem;
		font-size: 13px;
	}
	.input_login::placeholder{
		font-size: 7.5px;
	}
	.btn.btnOlvidoContrasena {
		margin-bottom: 0.7em;
	}
	.separadorInputLogin {
		margin-bottom: 2.4em;		
	}
	.linkHuellaAsistencia {
		top: -9em;
	}

	.hexagon {
		width: 100px;
		height: 200px;
	}
	.hexagonB {
		width: 110px;
		height: 220px;
	}
	
	.altoExagono {
		height: 150px;
	}
	.margenVEntreExagonos {
		margin: 0 0;
	}
	.contenedor {
		padding-top: 0;
		width: 200px !important;
		min-width: 200px;
	}
	.logo{
		width: 150%;
	}
}
.btn:focus, .btn.focus {
  outline: 0;
  box-shadow: none;
}
.form-control:focus, .form-control.focus{
  outline: 0;
  box-shadow: none;
}

.inicio_pass{
	display:block;
}
.inicio_pass2{
	display:none;
}

.inicio_user{
	display:block;
}
.inicio_user2{
	display:none;
}