@media (max-height: 500px) {
#map{height:80%;}
}
@media (min-height: 500px) {
#map{height:89%;}
}
@media (min-height: 600px) {
#map{height:90%;}
}
@media (min-height: 690px) {
#map{height:91.5%;}
}
@media (min-height: 800px) {
#map{height:92%;}
}
@media (min-height: 900px) {
#map{height:93%;}
} 
@media (min-height: 1020px) {
#map{height:94%;}
}
@media (min-height: 1200px) {
#map{height:94.5%;}
}
@media (min-height: 1300px) {
#map{height:95%;}
}


.modal.left .modal-dialog{
		position: fixed;
		margin: auto;
		width: 320px;
		height: 100%;
		-webkit-transform: translate3d(0%, 0, 0);
		    -ms-transform: translate3d(0%, 0, 0);
		     -o-transform: translate3d(0%, 0, 0);
		        transform: translate3d(0%, 0, 0);
	}
	.modal.left .modal-content{
		height: 100%;
		overflow-y: auto;
	}
Left
	.modal.left.fade .modal-dialog{
		left: -320px;
		-webkit-transition: opacity 0.3s linear, left 0.3s ease-out;
		   -moz-transition: opacity 0.3s linear, left 0.3s ease-out;
		     -o-transition: opacity 0.3s linear, left 0.3s ease-out;
		        transition: opacity 0.3s linear, left 0.3s ease-out;
	}

