
.cabecera{
	padding-bottom:10px;
}
.msj_icono{
	float:left;
	width:9%;
	text-align:center;
	
}
.msj_texto{
	padding-left:5px;
	float:right;
	width:91%;
	line-height:15px;
	font-size:13px;
}
.msj_bloque{
	padding-bottom:20px;
}
.div_alt{
	height:23%;
	overflow-y: auto;
}
.chat{
	height:76%;
	overflow-y: auto;
}
 /* -------------------------------------------------------------- */
.text-l{
    float:left;padding-right:10px;line-height: 13px;
    
}        
.text-r{
    float:right;padding-left:10px;line-height: 13px;
    
}
.macro{
    margin-top:20px; width:60%; border-radius:5px;padding:5px;display:flex;
}
.msj-rta{
    float:right;background:whitesmoke;
}
.msj{
    float:left;background:#43AAF2;
}
.frame{
    overflow:hidden;
    padding:0;
}
#chat {
    width:100%;
    list-style-type: none;
    padding:5px;
    position:absolute;
    bottom:0px;
    display:flex;
    flex-direction: column;
    top:0;
    overflow-y:scroll;
}

input:focus{
    outline: none;
}        
::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #d4d4d4;
}
::-moz-placeholder { /* Firefox 19+ */
    color: #d4d4d4;
}
:-ms-input-placeholder { /* IE 10+ */
    color: #d4d4d4;
}
:-moz-placeholder { /* Firefox 18- */
    color: #d4d4d4;
}  
.area{
	font-size:11px;
}
.texto_chat{
	font-size:13px;
	width:100%;
}
.hora{
	margin-top:4px;
	font-size:10px;
}
.input_text {
	width: 93%;
    border-radius: 4px;
    border: 1px solid #CCCCCC;
    padding-left: 10px;
    font-size: 15px;
}
.mensaje_enviado {
	text-align: right;
    border-radius: 5px;
    padding: 5px;
    background: #BBDEFB;
}
.mensaje_recibido {
	border-radius: 5px;
    padding: 5px;
    background: #DDDDDD;
}
.mensaje_evento {
	width: 100%;
	padding: 5px;
    background: #DDDDDD;
}
.send {
	cursor: pointer;
	margin-left: 10px;
}
.sendDisable {
	filter: alpha(opacity=35);
	-khtml-opacity: 0.35;
	-moz-opacity: 0.35;
	opacity: 0.35;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=35)";
}