.altura1{
	height:350px;
}
.ui-datepicker-trigger {
	display: none !important;
}

.oculto {
	display : none;	
}

.detalleMemoriaAsignadaAction {
	display: none;
}

span.circulo {
  background: transparent;
  border: 3px solid #071B36;
  border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  color: #071B36;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.8em;
  font-size: 30px; 
}
.subtituloIconos {
	font-weight: normal;
	font-size: 12px;
}

.footerDetalleMd {
	font-weight: normal;
	font-size: 10px;
	color: white;
}

#containerProgreso {
	margin: 0 auto;
  	width: 200px;
  	height: 200px;
}

.circle_expansion {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #37AFCE;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.circle_gestoria {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #FC4313;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.circle_operaciones {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #1E8F33;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.circle_auditoria {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #1C336E;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.circle_construccion {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #D35612;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}
.circle_atrasadas {
	border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    background: #E7BE53;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}
.circle_atrasadas_semaforo {
	border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    background: #E7BE53;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}
.circle_tiempo_semaforo {
	border-radius: 50%;
    width: 0.8em;
    height: 0.8em;
    background: #CCCCCC;
    float: left;
    margin-top: 2px;
    margin-left: 10px;
}
.cicle_tiempo_sem_selecc {
	background: #733535;
}

.padding_right {
	padding-right: 10px;
}
/* 
.txt_expansion {
	color: #37AFCE;
}

.txt_gestoria {
	color: #FC4313;
}

.txt_operaciones {
	color: #1E8F33;
}

.txt_auditoria {
	color: #1C336E;
}

.txt_construccion {
	color: #D35612;
} */
.box{
    width: 450px;
    border: 1px solid #a29415;
    position: absolute;
    z-index: 99;
    background: #071B36;
}
.box-inner{
	
}
.slide-toggle {
	width: 450px;
    height: 25px;
    font-size: 12px;
    border: 1px solid #CCC;
    background: #F4F4F4;
    cursor: pointer;
}
.header_boton {
	padding-top: 3px;
    padding-left: 30px;
}
.tabla_pendientes {
	cursor: pointer;
	position: relative;
    float: left;
    border-right: 1px solid #FFF;
    border-bottom: 1px solid #FFF;
    padding-left: 5px;
    font-size: 12px;
    padding: 6px;
    color: #efefef;
    height: 33px;
}
.text_seleccion {
	color: #36a6c1;
}
.text_seleccion:hover {
	text-decoration: underline;
	color: #2196F3;
}
.text_seleccion_dos:hover {
	text-decoration: italic;
}
.text_en_tiempo {
	color: #1E9D42;
}
.text_atrasada {
	color: #FF5B16;
}
.text_sin_atencion {
	color: #CCCCCC;
}