.altura1{
	height:350px;
}
.ui-datepicker-trigger {
	display: none !important;
}

.oculto {
	display : none;	
}

.detalleMemoriaAsignadaAction {
	display: none;
}

span.circulo {
  background: transparent;
  border: 3px solid #071B36;
  border-radius: 0.9em;
  -moz-border-radius: 0.9em;
  -webkit-border-radius: 0.9em;
  color: #071B36;
  display: inline-block;
  line-height: 1.6em;
  text-align: center;
  width: 1.8em;
  font-size: 30px; 
}
.subtituloIconos {
	font-weight: normal;
	font-size: 12px;
}

.footerDetalleMd {
	font-weight: normal;
	font-size: 10px;
	color: white;
}

#containerProgreso {
	margin: 0 auto;
  	width: 200px;
  	height: 200px;
}

/* ----------------------------------- ESTILOS POPOVER */
.popover  {
	background: #40BCD8 !important;
	color: #FFFFFF !important;
	max-width:400px;
}
.popover-content  {
	background: #40BCD8 !important;
	color: #FFFFFF !important;
	max-width:400px;
}

.popover .arrow,
.popover .arrow:after {
	border-bottom-color: #40BCD8 !important;
}

.popover.bottom .arrow:after {
  border-bottom-color: #40BCD8 !important;
  background: #40BCD8 !important;
  color: #FFFFFF;
}
.popover.right .arrow:after {
  border-right-color: #40BCD8 !important;
}

.popover-content {
	background-color: #40BCD8;
	color: #FFFFFF !important;
}

.circle_expansion {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #37AFCE;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.circle_gestoria {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #FC4313;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.circle_operaciones {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #1E8F33;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.circle_auditoria {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #1C336E;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.circle_construccion {
	border-radius: 50%;
    width: 1em;
    height: 1em;
    background: #D35612;
    float: left;
    margin-top: 4px;
    margin-left: 10px;
}

.padding_right {
	padding-right: 10px;
}

.txt_expansion {
	color: #37AFCE;
}

.txt_gestoria {
	color: #FC4313;
}

.txt_operaciones {
	color: #1E8F33;
}

.txt_auditoria {
	color: #1C336E;
}

.txt_construccion {
	color: #D35612;
}