td{
	border-top:1px solid #dfddd9;
	text-align:center;
	color:#5d5d57;
	font-size:12px;
}
td.padding{
	padding-top:6px;
	padding-bottom:6px;
}
th{
	font-weight:normal;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:2px solid #5d5d57;
}
tbody tr:hover{
	background-color:#E0F0FA;
	cursor:pointer;
}
.tabla_container{
	 padding-right:0px; 
	 padding-left:0px; 
	 min-height:73%; 
	 overflow-x:scroll;
	 overflow-y: hidden; 
}
table{
	width:100%;
}
.odd{
	background:#f4f4f3;
}
.even {
	background: #fff;
}
.ui-datepicker-trigger {
	display: none !important;
}
.detalleMemoriaAutorizadaAction {
	display: none;
}

/* estilos comunes de elementos de la tabla*/

.buscador {	
	margin-top:6;
	padding-right:10;
	padding-left:8 !important;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border: 0px solid white;
    color:white;
    font-size: 12px;
    padding-left: 3px;
    margin-right:10px;
    background-color:white;
    background-image: url(../img/lupa_search.svg);
    background-size: 13px 13px;
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.buscadorInput {
	font-size: 12px;
	width:99% !important;
    height: 25px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 0px solid white;
    padding-left: 7px;
    margin-left: 15px;
 	background-color:transparent;
}
@media (max-width: 500px) {
	.buscadorInput{width:90% !important;}
	.buscador{width:82% !important;}
}
.buscadorInput::placeHolder {
 	color: #071B36;
}
.buscadorInput:focus {
 	color: #071B36;
}

#descargaExcel{
	display:none;
}
.oculto {
	display : none;	
}
.form-control:focus, .form-control.focus{
 background-color:white;
}
.num_puntuacion{
	width:40px;
}
.estrellaPuntuacion {
	width: 18px;
	margin-top: -6px;
    margin-left: 8px;
}

.estrellaPuntuacionDetalle {
	margin-top: 2px;
    margin-left: 8px;
    width: 18px;
}
span.estrellas{
	width:100px;
	text-align:left;
}
.puntuacion{
	min-width:140px;
}
/*rechazadas*/
span.seccion{
	display: inline-block;
	width:100px;
}
.ocultable{
	display:none;
}
.izquierda {
	text-align: left;
	padding-left: 8px;
}
.derecha {
	text-align: right;
	padding-right: 8px;
}
/* ----------------------------boton recarga */
.desp{
	width:25 !important;
	height:25 !important;
}
.circulos_tablas{
	margin-top:0px !important;
	margin-right:8px;
}
.reloj{
	width: 17px;
	margin-left:8px;
}
