td{
	border-top:1px solid #dfddd9;
	text-align:center;
	color:#5d5d57;
	font-size:12px;
	padding-top:6px;
	padding-bottom:6px;
}
th{
	font-weight:normal;
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	border-bottom:2px solid #5d5d57;
}
tbody tr:hover{
	background-color:#E0F0FA;
	cursor:pointer;
}
.tabla_container{
	 padding-right:0px; 
	 padding-left:0px; 
	 min-height:80%; 
	 overflow-x:scroll;
}
table{
	width:100%;
}
.odd{
	background:#f4f4f3;
}
.ui-datepicker-trigger {
	display: none !important;
}
.detalleMemoriaAutorizadaAction {
	display: none;
}

/* estilos comunes de elementos de la tabla*/

.buscador {	
	width:400px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
    border: 0px solid #000000;
    color:white;
    font-size: 12px;
    padding-left: 3px;
    background-color:#071B36;
    background-image: url(../img/iconos_search.png);
    background-size: 13px 13px;
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.buscadorInput {
	font-size: 12px;
	width:375px !important;
    height: 20px;
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border: 0px solid #000000;
    padding-left: 7px;
    margin-left: 15px;
 	background-color:#071B36;
}
.buscadorInput::placeHolder {
 	color: #A9A9A9;
}
.buscadorInput:focus {
 	color: white;
}

#descargaExcel{
	display:none;
}
.oculto {
	display : none;	
}
.form-control:focus, .form-control.focus{
 background-color:#071B36;
}

.estrellaPuntuacion {
	margin-top: -6px;
    margin-left: 8px;
}

.estrellaPuntuacionDetalle {
	margin-top: 2px;
    margin-left: 8px;
    width: 18px;
}
span.estrellas{
	width:100px;
	text-align:left;
}
.puntuacion{
	min-width:140px;
}
/*rechazadas*/
span.seccion{
	display: inline-block;
	width:100px;
}
.ocultable{
	display:none;
}
.izquierda {
	text-align: left;
	padding-left: 8px;
}
.derecha {
	text-align: right;
	padding-right: 8px;
}
/* ----------------------------boton recarga */
.desp{
	font-size:12px;
	font-family:"Helvetica Neue";
	background-color:white;
	color:#00437e;
	border:0;
	height:20px !important;
	padding:0;
	margin-left:8px;
	margin-top:1px;
	border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius:2px;
}
.rechargue{
	width:27px;
}