td{
	border-top:1px solid gray;
	text-align:center;
	color:#1f3d7a;
	font-size:13px;
	padding-top:6px;
	padding-bottom:6px;
	padding-left:12px;
}
th{
	text-align:center;
	padding-top:5px;
	padding-bottom:5px;
	color:#1f3d7a;
}
tbody tr:hover{
	background-color:#ecfcff;
	cursor:pointer;
}
.tabla_container{
	 padding-right:0px; 
	 padding-left:0px; 
	 height:80%; 
	 overflow-x:scroll;
}
table{
	width:100%;
}

.ui-datepicker-trigger {
	display: none !important;
}
.detalleMemoriaAutorizadaAction {
	display: none;
}

/* estilos comunes de elementos de la tabla*/

.buscador {
	width: 30px;
	position: relative; 
	float: left;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    background-color: white;
    font-size: 12px;
    padding-left: 3px;
    background-image: url(../img/iconos_search.png);
    background-size: 13px 13px;
    background-position: left;
    background-repeat: no-repeat;
    background-origin: content-box;
}

.buscadorInput {
	width: 120px;
    height: 20px;
    border-radius: 4px 4px 4px 4px;
    -moz-border-radius: 4px 4px 4px 4px;
    -webkit-border-radius: 4px 4px 4px 4px;
    border: 0px solid #000000;
    background-color: white;
    padding-left: 7px;
    margin-left: 15px;
}
